#solution .new-solution .flex-boxes-solution .one-box p {
  font-weight: normal;
}
.flex-icons-human a {
  background-color: #0052fb;
}
.people .human_wrap .desc .name {
  margin-bottom: 5px;
}
.people .human_wrap .desc .text {
  font-size: 14px;
  padding: 0 5px;
  margin: 10px 0;
}
.people .human_wrap .desc .text p {
  margin-bottom: 10px;
}

#work_with {
  background: #061649;

  h2 {
    text-align: center;
    color: white;
    font: 36px FiraSans-Bold;
    margin-bottom: 50px;
  }

  .work_with_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .work_logo {
      margin-bottom: 30px;
      margin-top: 50px;
      width: 25%;
      text-align: center;

      img {
        max-width: 100%;
      }
    }
  }
}

#news {
  padding-bottom: 30px;
}

#news h2 {
  color: white;
}

#news .news_wrap {
  display: flex;
  justify-content: space-between;

  .news_item {
    width: 33.3%;
    background: white;
    padding-bottom: 20px;
    transition: 0.3s;

    &:nth-child(2) {
      margin: 0 30px 30px;
    }

    &:hover {
      background: #0052fb;

      .date, .title {
        color: white;
      }

      .title {
        text-decoration: underline;
      }
    }

    .img_wrap {
      margin-bottom: 0;
    }

    .date {
      margin: 0 20px 0;
      padding-top: 15px;
      display: block;
      color: #0052fb;
      font-size: 14px;
      text-transform: uppercase;
      transition: 0.3s;
    }

    .title {
      margin: 10px 20px 0;
      font: bold 18px FiraSans;
    }
  }
}
#news #all_news {
  background: #061649;
  color: white;
  padding: 15px 0;
  max-width: 192px;

  &:hover {
    box-shadow: 0px 0px 20px 3px rgba(0, 82, 251, 0.5);
    background: #061649;
    color: white;
  }
}

#rates {
  padding-bottom: 25px;

  h2 {
    color: white;
  }

  .rate {
    padding: 0 0 45px;
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.15);
  }

  .num {
    padding: 50px 45px 45px;
    background: #001a6a;
    color: white!important;

    &:after {
      display: none;
    }
  }
}

#faqs {
  h2 {
    color: white;
  }

  .faq {
    background: #001a6a;
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.15);
    padding: 14px 30px;

    .question {
      color: white;
    }

    &.opened {
      background: #0052fb;
    }
  }
}
#faqs #all_faq {
  background: #061649;
  color: white;
  padding: 15px 0;
  max-width: 192px;

  &:hover {
    box-shadow: 0px 0px 20px 3px rgba(0, 82, 251, 0.5);
    background: #061649;
    color: white;
  }
}

#contacts {
  background: #061649;

  .icon {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.15);
    margin: 0 30px 0 0;
  }

  .col-sm-6.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.second-form {
  margin-top: 80px;
}


@media (max-width: 1199px) {
  #work_with .work_with_wrap .work_logo img {
    max-width: 70%;
  }

  .people .human_wrap:before {
    padding-top: 118%;
  }
}

@media (max-width: 991px) {
  .people .human_wrap:before {
    padding-top: 101%;
  }

  #news .news_wrap .news_item .title {
    font-size: 14px;
  }

  #contacts .icon {
    margin-right: 15px;
  }
  #contacts .addr, #contacts a {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  #solution .new-solution .flex-boxes-solution .one-box {
    width: 50%;
  }

  .people .human_wrap:before {
    padding-top: 0;
  }
  .people .human_wrap .desc .name {
    color: white;
    text-align: center;
  }
  .people .human_wrap .desc .text {
    color: white;
  }
  .people .human_wrap .img {
    height: 345px;
  }
  .people .human_wrap {
    box-shadow: none;
  }
  #consultants  .row:last-child {
    display: flex;
    flex-wrap: wrap;
  }

  #work_with .work_with_wrap .work_logo {
    width: 50%;
    margin-top: 15px;
  }
  #work_with h2 {
    margin-bottom: 30px;
  }

  #news .news_wrap {
    display: block;
  }
  #news .news_wrap .news_item {
    width: 100%;
    margin: 0 0 30px!important;
  }

  #rates .rate {
    padding-bottom: 15px;
  }
  #rates .rate .num {
    padding-top: 17px;
  }

  #contacts .icon {
    margin: 30px 15px 15px;
  }
}

@media (max-width: 500px) {
  .people .human_wrap .img {
    height: 135px;
  }
}