body {
  background: #061649; }

#solution .new-solution .flex-boxes-solution .one-box p {
  font-weight: normal; }

.flex-icons-human a {
  background-color: #0052fb; }

.people .human_wrap .desc .name {
  margin-bottom: 5px; }

.people .human_wrap .desc .text {
  font-size: 14px;
  padding: 0 5px;
  margin: 10px 0; }

.people .human_wrap .desc .text p {
  margin-bottom: 10px; }

#faqs {
  padding-top: 35px; }

#work_with {
  background: #061649;
  padding-top: 55px; }
  #work_with h2 {
    text-align: center;
    color: white;
    font: 36px FiraSans-Bold;
    margin-bottom: 50px; }
  #work_with .work_with_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
    #work_with .work_with_wrap .work_logo {
      margin-bottom: 30px;
      margin-top: 50px;
      width: 25%;
      text-align: center; }
      #work_with .work_with_wrap .work_logo img {
        max-width: 100%; }

#news {
  padding-bottom: 30px; }

#news h2 {
  color: white;
  margin-bottom: 95px; }

#news .news_wrap {
  display: flex;
  justify-content: space-between; }
  #news .news_wrap .news_item {
    width: 33.3%;
    background: white;
    padding-bottom: 20px;
    transition: 0.3s; }
    #news .news_wrap .news_item:nth-child(2) {
      margin: 0 30px 30px; }
    #news .news_wrap .news_item:hover {
      background: #0052fb; }
      #news .news_wrap .news_item:hover .date, #news .news_wrap .news_item:hover .title {
        color: white; }
      #news .news_wrap .news_item:hover .title {
        text-decoration: underline; }
    #news .news_wrap .news_item .img_wrap {
      margin-bottom: 0; }
    #news .news_wrap .news_item .date {
      margin: 0 20px 0;
      padding-top: 15px;
      display: block;
      color: #0052fb;
      font-size: 14px;
      text-transform: uppercase;
      transition: 0.3s; }
    #news .news_wrap .news_item .title {
      margin: 10px 20px 0;
      font: bold 18px FiraSans; }

#news #all_news {
  background: #061649;
  color: white;
  padding: 15px 0;
  max-width: 192px; }
  #news #all_news:hover {
    box-shadow: 0px 0px 20px 3px rgba(0, 82, 251, 0.5);
    background: #061649;
    color: white; }

#rates {
  padding-bottom: 25px;
  padding-top: 0; }
  #rates h2 {
    color: white; }
  #rates .rate {
    padding: 0 0 45px;
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.15); }
  #rates .num {
    padding: 50px 45px 45px;
    background: #001a6a;
    color: white !important; }
    #rates .num:after {
      display: none; }

#faqs h2 {
  color: white;
  margin-bottom: 100px; }
#faqs .faq {
  background: #001a6a;
  box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.15);
  padding: 14px 30px; }
  #faqs .faq .question {
    color: white; }
  #faqs .faq.opened {
    background: #0052fb; }

#faqs #all_faq {
  background: #061649;
  color: white;
  padding: 15px 0;
  max-width: 192px; }
  #faqs #all_faq:hover {
    box-shadow: 0px 0px 20px 3px rgba(0, 82, 251, 0.5);
    background: #061649;
    color: white; }

#contacts {
  background: #061649;
  padding-top: 25px; }
  #contacts .icon {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.15);
    margin: 0 30px 0 0; }
  #contacts .col-sm-6.text-center {
    display: flex;
    justify-content: center;
    align-items: center; }

.second-form {
  margin-top: 80px;
  padding-bottom: 0; }

footer {
  background: #061649;
  padding-top: 0;
  padding-bottom: 0; }
  footer .menu {
    background: #001a6a;
    padding: 30px 0;
    margin-bottom: 30px; }
    footer .menu li a, footer .menu li span {
      color: #518aff; }
      footer .menu li a:hover, footer .menu li span:hover {
        color: white; }
  footer .copy {
    color: #518aff;
    font-size: 14px;
    padding-bottom: 30px; }
  footer .footer_submenu {
    margin: 0;
    padding: 0 0 30px;
    list-style: none;
    display: flex;
    justify-content: flex-end; }
    footer .footer_submenu li {
      padding-left: 15px; }
      footer .footer_submenu li a, footer .footer_submenu li span {
        color: #518aff;
        transition: 0.3s;
        font-size: 14px; }
        footer .footer_submenu li a:hover, footer .footer_submenu li span:hover {
          color: white; }

.button-style {
  background: #061649; }

.button-style.second-b, .form-and-soc .flex-form-soc .right-side .button-style-2,
.button-style-3, .button-style-2 {
  transition: 0.3s !important; }

.form-and-soc .flex-form-soc .left-side .abs-socials .one-soc {
  transition: 0.3s !important; }

.button-style.second-b:hover,
.form-and-soc .flex-form-soc .right-side .button-style-2:hover,
.button-style-3:hover,
.button-style-2:hover {
  transition: 0.3s;
  background: #518aff;
  box-shadow: 0px 0px 20px 3px rgba(0, 82, 251, 0.5); }

.diagram {
  padding-bottom: 55px; }

.sec-slider-realiz {
  padding-bottom: 0; }

.people {
  padding-top: 50px;
  padding-bottom: 30px; }

.sec-slider-realiz {
  margin-bottom: 100px; }

.box-counter-ico .alrdy-geted-wrapp .top-range {
  margin-bottom: 0;
  margin-top: 33px; }

.box-counter-ico .alrdy-geted-wrapp .top-range span {
  line-height: 1.0; }

@media (max-width: 1199px) {
  #work_with .work_with_wrap .work_logo img {
    max-width: 70%; }

  .people .human_wrap:before {
    padding-top: 118%; } }
@media (max-width: 991px) {
  .people .human_wrap:before {
    padding-top: 101%; }

  #news .news_wrap .news_item .title {
    font-size: 14px; }

  #contacts .icon {
    margin-right: 15px; }

  #contacts .addr, #contacts a {
    font-size: 16px; }

  footer .copy,
  footer .footer_submenu li a, footer .footer_submenu li span {
    font-size: 13px; } }
@media (max-width: 767px) {
  #solution .new-solution .flex-boxes-solution .one-box {
    width: 50%; }

  .people .human_wrap:before {
    padding-top: 0; }

  .people .human_wrap .desc .name {
    color: white;
    text-align: center; }

  .people .human_wrap .desc .text {
    color: white; }

  .people .human_wrap .img {
    height: 345px; }

  .people .human_wrap {
    box-shadow: none; }

  #consultants .row:last-child {
    display: flex;
    flex-wrap: wrap; }

  #work_with .work_with_wrap .work_logo {
    width: 50%;
    margin-top: 15px; }

  #work_with h2 {
    margin-bottom: 30px; }

  #news .news_wrap {
    display: block; }

  #news .news_wrap .news_item {
    width: 100%;
    margin: 0 0 30px !important; }

  #rates .rate {
    padding-bottom: 15px; }

  #rates .rate .num {
    padding-top: 17px; }

  #contacts .icon {
    margin: 30px 15px 15px; }

  footer .menu {
    padding-bottom: 10px; }

  footer .copy {
    text-align: center; }

  footer .footer_submenu {
    display: block; }

  footer .footer_submenu li {
    text-align: center; }

  footer .menu li .img-white-paper-icon:before,
  footer .menu li .img-white-paper-icon:after {
    left: 50% !important;
    margin-left: -55px; }

  #solution,
  .sec-slider-realiz.conf-sec {
    padding-top: 35px; }

  #solution .new-solution .tt-1.small-m-w,
  #solution .new-solution .new-png-logo,
  #solution .new-solution .tt-1,
  .diagram .dia-head .text-we-can,
  #news h2,
  #faqs h2 {
    margin-bottom: 35px; }

  #rates {
    padding-top: 55px; }

  .diagram,
  .sec-slider-realiz,
  #man,
  #work_with,
  #faqs {
    padding-top: 0; }

  #contacts .col-sm-6.text-center {
    display: block; }

  #contacts .icon {
    margin: 30px auto 15px auto; }

  #consultants .row:last-child .col-md-3 {
    float: none; }

  #solution, .sec-slider-realiz.conf-sec {
    padding-bottom: 0; }

  .people .human_wrap .desc .name {
    text-align: left; }

  .people .human_wrap .desc .function {
    text-align: left; } }
@media (max-width: 500px) {
  .people .human_wrap .img {
    height: 135px; } }

/*# sourceMappingURL=style_tatia_new.css.map */
