@font-face {
  font-family: "FiraSans";
  src: url("../fonts/FiraSans-Regular.ttf"); }
@font-face {
  font-family: "FiraSans-Bold";
  src: url("../fonts/FiraSans-Bold.ttf"); }
@font-face {
  font-family: "FiraSans-BoldItalic";
  src: url("../fonts/FiraSans-BoldItalic.ttf"); }
body {
  font-family: "FiraSans"; }

#solution {
  padding: 90px 0; }
  #solution h2 {
    text-align: center;
    color: #0d264e;
    font: 36px FiraSans-Bold;
    margin-bottom: 35px; }
  #solution .img {
    margin-bottom: 30px; }
  #solution p {
    font-size: 16px;
    color: #0d264e;
    line-height: 1.7; }
  #solution .epigraph {
    font-size: 20px;
    color: #888;
    text-align: center;
    margin-bottom: 65px; }
  #solution ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    #solution ul li {
      font-size: 16px;
      color: #0d264e;
      position: relative;
      padding-left: 25px;
      margin-bottom: 20px; }
      #solution ul li:before {
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 6px;
        background: #25a9df;
        position: absolute;
        left: 0;
        top: 9px; }

#man {
  background: #0d264e;
  padding: 90px 0; }
  #man .man_wrap {
    position: relative;
    width: 100%;
    overflow: hidden; }
    #man .man_wrap:before {
      content: '';
      display: block;
      padding-top: 100%; }
    #man .man_wrap .img {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: center center no-repeat;
      background-size: cover; }
    #man .man_wrap .desc {
      position: absolute;
      bottom: 0;
      background: rgba(13, 38, 78, 0.6);
      color: white;
      left: 0;
      right: 0;
      padding: 20px;
      font-size: 14px;
      font-style: italic;
      color: white; }
  #man .man_text {
    padding-left: 90px;
    padding-top: 55px; }
    #man .man_text h5 {
      color: white;
      font: 36px FiraSans-Bold;
      margin-bottom: 35px; }
    #man .man_text p {
      font-size: 16px;
      color: #25a9df;
      line-height: 1.7;
      margin-bottom: 35px; }
      #man .man_text p.big {
        font-size: 20px; }
    #man .man_text .soc {
      display: flex; }
      #man .man_text .soc a {
        display: flex;
        width: 56px;
        height: 56px;
        border-radius: 56px;
        background: #25a9df;
        margin-right: 20px; }
        #man .man_text .soc a img {
          margin: auto; }

.people {
  padding: 90px 0; }
  .people h2 {
    text-align: center;
    color: #0d264e;
    font: 36px FiraSans-Bold;
    margin-bottom: 80px; }
  .people .human_wrap {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px; }
    .people .human_wrap:before {
      content: '';
      display: block;
      padding-top: 100%; }
    .people .human_wrap .img {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: center center no-repeat;
      background-size: cover; }
    .people .human_wrap .desc {
      position: absolute;
      bottom: 0;
      background: rgba(13, 38, 78, 0.6);
      color: white;
      left: 0;
      right: 0;
      padding: 20px 0; }
      .people .human_wrap .desc .name {
        text-align: center;
        font: 17px FiraSans-Bold;
        margin: 0; }
      .people .human_wrap .desc .text {
        text-align: center;
        margin: 15px 0 0;
        font-size: 15px;
        line-height: 1.7;
        display: none; }
  .people .all_people {
    color: #0d264e;
    margin: 30px auto 0; }
    .people .all_people:hover {
      color: white; }

#news {
  background: #f2f5fa;
  padding: 90px 0; }
  #news h2 {
    text-align: center;
    color: #0d264e;
    font: 36px FiraSans-Bold;
    margin-bottom: 70px; }
  #news .news_item {
    cursor: pointer;
    margin-bottom: 30px; }
    #news .news_item .img_wrap {
      position: relative;
      width: 100%;
      overflow: hidden;
      margin-bottom: 20px; }
      #news .news_item .img_wrap:before {
        content: '';
        display: block;
        padding-top: 61.6%; }
      #news .news_item .img_wrap .img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: center center no-repeat;
        background-size: cover; }
        #news .news_item .img_wrap .img:after {
          content: '';
          background: #0d264e;
          opacity: 0.5;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          transition: 0.3s; }
    #news .news_item .date {
      color: #888;
      font-size: 14px; }
    #news .news_item .title {
      color: #0d264e;
      font: 18px FiraSans-Bold;
      transition: 0.3s;
      line-height: 1.6;
      display: block;
      margin-top: 5px; }
    #news .news_item .read {
      color: #25a9df;
      text-transform: uppercase;
      display: inline-block;
      border-bottom: 1px solid #25a9df;
      font-size: 14px;
      margin-top: 10px;
      position: relative; }
      #news .news_item .read:after {
        position: absolute;
        content: '';
        width: 18px;
        height: 10px;
        display: block;
        background: url(../img/news_arrow.png) no-repeat center;
        right: -30px;
        top: 5px; }
    #news .news_item:hover .img_wrap .img:after {
      opacity: 0; }
    #news .news_item:hover .title {
      color: #25a9df; }
  #news #all_news {
    color: #0d264e;
    margin: 30px auto 0; }
    #news #all_news:hover {
      color: white; }

#rates {
  padding: 85px 0 90px; }
  #rates h2 {
    text-align: center;
    color: #0d264e;
    font: 36px FiraSans-Bold;
    margin-bottom: 80px; }
  #rates .rate {
    background: #f2f5fa;
    padding: 50px 40px 45px; }
    #rates .rate .num {
      color: #0d264e;
      font: 36px FiraSans-Bold;
      text-align: center;
      padding-bottom: 45px;
      position: relative; }
      #rates .rate .num:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        left: 0;
        bottom: 0;
        background: #ccc; }
    #rates .rate .img {
      min-height: 50px;
      display: flex;
      margin-top: 40px; }
      #rates .rate .img img {
        margin: auto; }

#faqs {
  background: #f2f5fa;
  padding: 90px 0; }
  #faqs h2 {
    text-align: center;
    color: #0d264e;
    font: 36px FiraSans-Bold;
    margin-bottom: 70px; }
  #faqs .faq {
    background: white;
    padding: 20px 30px;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 10px; }
    #faqs .faq .question {
      color: #0d264e;
      font: 16px FiraSans-Bold;
      line-height: 1.7;
      position: relative;
      margin-bottom: 0;
      transition: 0.3s;
      padding-right: 25px; }
      #faqs .faq .question:after {
        content: '';
        display: block;
        width: 15px;
        height: 9px;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -4.5px;
        background: url(../img/faq_arrows.png) no-repeat 0 0; }
    #faqs .faq .answer {
      font-size: 16px;
      line-height: 1.7;
      color: white; }
    #faqs .faq.opened {
      background: #25a9df; }
      #faqs .faq.opened .question {
        color: white;
        margin-bottom: 15px; }
        #faqs .faq.opened .question:after {
          background-position: 0 -9px; }
  #faqs #all_faq {
    margin: 50px auto 0;
    color: #0d264e; }
    #faqs #all_faq:hover {
      color: white; }

#contacts {
  background: #0d264e;
  position: relative;
  padding: 85px 0 90px; }
  #contacts h2 {
    color: white;
    font: 36px FiraSans-Bold;
    text-align: center;
    margin-bottom: 40px; }
  #contacts p {
    color: #25a9df;
    font-size: 20px;
    text-align: center;
    margin-bottom: 70px; }
  #contacts .icon {
    width: 56px;
    height: 56px;
    background: #004996;
    border-radius: 56px;
    margin: 0 auto 25px;
    display: flex; }
    #contacts .icon span {
      display: block;
      margin: auto;
      background-image: url(../img/contacts.png);
      background-repeat: no-repeat;
      width: 27px; }
    #contacts .icon.cont_addr span {
      background-position: 0 0;
      height: 28px; }
    #contacts .icon.cont_phone span {
      background-position: 0 -28px;
      height: 29px; }
    #contacts .icon.cont_phone span {
      background-position: 0 -28px;
      height: 29px; }
    #contacts .icon.cont_mail span {
      background-position: 0 -57px;
      height: 20px; }
  #contacts .addr, #contacts a {
    color: #25a9df;
    font-size: 18px;
    transition: 0.3s; }
  #contacts a:hover {
    color: white; }

footer {
  background: #f2f5fa;
  margin: 0;
  padding: 60px 0; }
  footer .logo {
    text-align: center; }
  footer .menu {
    margin: 55px 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center; }
    footer .menu li {
      margin: 0 10px; }
      footer .menu li a, footer .menu li span {
        color: #888;
        font-size: 16px;
        cursor: pointer;
        transition: 0.3s; }
        footer .menu li a:hover, footer .menu li span:hover {
          color: #25a9df; }

/*# sourceMappingURL=style-t.css.map */
