.button-style {
  display: block;
  cursor: pointer;
  width: 100%;
  max-width: 220px;
  text-align: center;
  letter-spacing: 2px;
  padding: 16px 0;
  text-transform: uppercase;
  font-size: 12px;
  background: #001a6a;
  border-radius: 6px;
  font-weight: bold;
  transition: 0.3s;
  color: #fff;
  border: 1px solid #0239a9;
  box-shadow: 0px 0px 20px 3px rgba(0, 82, 251, 0.25); }
  .button-style:hover {
    box-shadow: 0px 0px 20px 3px rgba(0, 82, 251, 0.5); }
  .button-style.second-b {
    background: #0052fb;
    transition: 0s, box-shadow 0.3s; }
    .button-style.second-b:hover {
      background: linear-gradient(0deg, #518aff, #0052fb);
      color: #fff; }
  .button-style.play-inside {
    display: flex;
    justify-content: center; }
    .button-style.play-inside span {
      display: block;
      padding-left: 24px;
      position: relative; }
      .button-style.play-inside span:before {
        content: "";
        display: block;
        position: absolute;
        top: 4px;
        left: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 0 5px 8px;
        border-color: transparent transparent transparent #ffffff; }

.button-style-2 {
  display: block;
  cursor: pointer;
  width: 100%;
  max-width: 230px;
  text-align: center;
  letter-spacing: 2px;
  padding: 16px 0;
  text-transform: uppercase;
  font-size: 13px;
  background: #0052fb;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  transition: 0s, box-shadow 0.3s;
  color: #fff; }
  .button-style-2:hover {
    background: #0570c3;
    color: #fff;
    border-color: #004996; }

.button-style-3 {
  display: block;
  cursor: pointer;
  width: 100%;
  max-width: 230px;
  text-align: center;
  letter-spacing: 2px;
  padding: 16px 0;
  text-transform: uppercase;
  font-size: 14px;
  background: transparent;
  font-weight: bold;
  background: #0052fb;
  border-radius: 6px;
  transition: 0s,box-shadow 0.3s;
  margin: 0 auto;
  color: #fff; }
  .button-style-3:hover {
    color: #fff;
    background: #0570c3; }

.for-w-s {
  width: 59px;
  display: block; }

.sec-lvl-1 {
  background-color: #061649;
  position: relative; }
  .sec-lvl-1 .header-nav {
    border-bottom: 1px solid #0239a9;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    transition: 0.3s; }
    .sec-lvl-1 .header-nav.scrolled {
      position: fixed;
      background: #001a6a;
      border: none;
      box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
      /*
      .flex-menu{
          .side{
              &.left-side{
                  .rel-wr{
                      position: relative;
                      .abs-img{
                          opacity: 1;
                      }
                  }
              }
              &.right-side{
                  .flex-lang{
                      .lang-wrapp{
                          &:hover{
                              .lang{
                                  color: #0d264e;
                              }
                          }
                      }
                      .login{
                          background:#25a9df;
                          color: #fff;
                          &:hover{
                              background: #0d264e;
                          }
                      }
                  }
              }
              &.mid-side{
                  .menu-list{
                      .first-itm{
                          a,span{
                              padding: 27px 11px;
                              &:after{
                                  bottom: 0;
                              }
                          }
                          &:hover{
                              a,span{
                                  color: #0d264e;
                              }
                          }
                          &.active{
                              a,span{
                                  color: #0d264e;
                                  &:after{
                                      
                                  }
                              }
                          }
                      }
                  }
              }
          }
      }*/ }
      .sec-lvl-1 .header-nav.scrolled .flex-menu .side.right-side .flex-lang .lang-wrapp .lang-list {
        transform: translate(-50%, 27px); }
      .sec-lvl-1 .header-nav.scrolled .flex-menu .side.mid-side .menu-list .first-itm a, .sec-lvl-1 .header-nav.scrolled .flex-menu .side.mid-side .menu-list .first-itm span {
        padding: 27px 11px; }
    .sec-lvl-1 .header-nav.every-time-scrolled {
      display: none !important;
      position: fixed !important;
      top: -500px;
      transition: 1s;
      z-index: 700; }
      .sec-lvl-1 .header-nav.every-time-scrolled .flex-menu .side.left-side {
        padding-top: 0;
        padding-bottom: 10px; }
      .sec-lvl-1 .header-nav.every-time-scrolled .flex-menu .side.right-side {
        margin-bottom: 10px; }
      .sec-lvl-1 .header-nav.every-time-scrolled.js-fixed {
        top: 0; }
      .sec-lvl-1 .header-nav.every-time-scrolled .navbar-toggle {
        top: -9px; }
      .sec-lvl-1 .header-nav.every-time-scrolled .navbar-toggle .icon-bar {
        background: #0d264e; }
      .sec-lvl-1 .header-nav.every-time-scrolled .flex-menu .side.mid-side .menu-list .first-itm a, .sec-lvl-1 .header-nav.every-time-scrolled .flex-menu .side.mid-side .menu-list .first-itm span {
        padding: 15px 11px; }
    .sec-lvl-1 .header-nav .flex-menu {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .sec-lvl-1 .header-nav .flex-menu .side.left-side {
        width: 265px;
        display: flex; }
        .sec-lvl-1 .header-nav .flex-menu .side.left-side .rel-wr {
          position: relative; }
          .sec-lvl-1 .header-nav .flex-menu .side.left-side .rel-wr .abs-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            opacity: 0; }
      .sec-lvl-1 .header-nav .flex-menu .side.right-side {
        width: 265px;
        display: flex;
        justify-content: flex-end; }
        .sec-lvl-1 .header-nav .flex-menu .side.right-side .flex-lang {
          display: flex;
          align-items: center; }
          .sec-lvl-1 .header-nav .flex-menu .side.right-side .flex-lang .lang-wrapp {
            padding-right: 20px;
            margin-right: 28px;
            cursor: pointer;
            position: relative; }
            .sec-lvl-1 .header-nav .flex-menu .side.right-side .flex-lang .lang-wrapp:after {
              content: "";
              display: block;
              position: absolute;
              top: 7px;
              right: 0;
              width: 11px;
              height: 7px;
              background-image: url(../img/arr-down.png);
              background-repeat: no-repeat;
              background-position: center; }
            .sec-lvl-1 .header-nav .flex-menu .side.right-side .flex-lang .lang-wrapp:hover .lang {
              color: #fff; }
            .sec-lvl-1 .header-nav .flex-menu .side.right-side .flex-lang .lang-wrapp .lang {
              color: #518aff;
              text-transform: uppercase;
              font-size: 16px;
              transition: 0.3s; }
            .sec-lvl-1 .header-nav .flex-menu .side.right-side .flex-lang .lang-wrapp .lang-list {
              display: none;
              position: absolute;
              box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
              top: 100%;
              left: 50%;
              transform: translate(-50%, 33px);
              background: #fff;
              width: 70px; }
              .sec-lvl-1 .header-nav .flex-menu .side.right-side .flex-lang .lang-wrapp .lang-list:before {
                content: "";
                display: block;
                position: absolute;
                top: -9px;
                left: 50%;
                transform: rotate(45deg);
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%) rotate(45deg);
                width: 18px;
                height: 18px;
                background: #fff;
                box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1); }
              .sec-lvl-1 .header-nav .flex-menu .side.right-side .flex-lang .lang-wrapp .lang-list a, .sec-lvl-1 .header-nav .flex-menu .side.right-side .flex-lang .lang-wrapp .lang-list span {
                display: block;
                position: relative;
                z-index: 10;
                background: #fff;
                color: #0d264e;
                text-transform: uppercase;
                text-align: center;
                font-size: 16px;
                padding: 9px 0;
                border-bottom: 1px solid #dddddd;
                transition: 0.3s; }
                .sec-lvl-1 .header-nav .flex-menu .side.right-side .flex-lang .lang-wrapp .lang-list a:last-child, .sec-lvl-1 .header-nav .flex-menu .side.right-side .flex-lang .lang-wrapp .lang-list span:last-child {
                  border: none; }
                .sec-lvl-1 .header-nav .flex-menu .side.right-side .flex-lang .lang-wrapp .lang-list a:hover, .sec-lvl-1 .header-nav .flex-menu .side.right-side .flex-lang .lang-wrapp .lang-list span:hover {
                  background: #f2f5fa; }
                .sec-lvl-1 .header-nav .flex-menu .side.right-side .flex-lang .lang-wrapp .lang-list a.active, .sec-lvl-1 .header-nav .flex-menu .side.right-side .flex-lang .lang-wrapp .lang-list span.active {
                  background: #0052fb;
                  color: #fff; }
          .sec-lvl-1 .header-nav .flex-menu .side.right-side .flex-lang .login {
            display: block;
            cursor: pointer;
            padding: 12px 20px;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: bold;
            margin-left: 29px;
            border-radius: 6px;
            background: #061649;
            transition: 0.3s;
            color: #fff;
            letter-spacing: 1px;
            border: 1px solid #0239a9;
            box-shadow: 0px 0px 20px 3px rgba(0, 82, 251, 0.25); }
            .sec-lvl-1 .header-nav .flex-menu .side.right-side .flex-lang .login:hover {
              box-shadow: 0px 0px 20px 3px rgba(0, 82, 251, 0.5); }
      .sec-lvl-1 .header-nav .flex-menu .side.mid-side .menu-list {
        display: flex;
        list-style: none;
        margin: 0; }
        .sec-lvl-1 .header-nav .flex-menu .side.mid-side .menu-list .first-itm a, .sec-lvl-1 .header-nav .flex-menu .side.mid-side .menu-list .first-itm span {
          cursor: pointer;
          color: #518aff;
          font-size: 16px;
          display: block;
          padding: 33px 11px;
          position: relative;
          transition: 0.3s; }
          .sec-lvl-1 .header-nav .flex-menu .side.mid-side .menu-list .first-itm a:after, .sec-lvl-1 .header-nav .flex-menu .side.mid-side .menu-list .first-itm span:after {
            content: "";
            display: block;
            position: absolute;
            bottom: -1px;
            height: 2px;
            left: 0;
            width: 100%;
            background: linear-gradient(90deg, #518aff, #0052fb);
            transition: 0.3s;
            opacity: 0;
            box-shadow: 0px 0px 20px 0px rgba(0, 82, 251, 0.5); }
        .sec-lvl-1 .header-nav .flex-menu .side.mid-side .menu-list .first-itm:hover a, .sec-lvl-1 .header-nav .flex-menu .side.mid-side .menu-list .first-itm:hover span {
          color: #fff; }
        .sec-lvl-1 .header-nav .flex-menu .side.mid-side .menu-list .first-itm.active a, .sec-lvl-1 .header-nav .flex-menu .side.mid-side .menu-list .first-itm.active span {
          color: #fff; }
          .sec-lvl-1 .header-nav .flex-menu .side.mid-side .menu-list .first-itm.active a:after, .sec-lvl-1 .header-nav .flex-menu .side.mid-side .menu-list .first-itm.active span:after {
            opacity: 1; }

.desc-main-baner {
  margin-bottom: 60px; }

.main-baner {
  position: relative;
  padding-top: 160px; }
  .main-baner .for-z-index {
    position: relative;
    z-index: 10; }
    .main-baner .for-z-index .iframe-wr {
      margin-bottom: 60px; }
      .main-baner .for-z-index .iframe-wr .iframe {
        display: block;
        border: none;
        width: 100%;
        height: 367px;
        cursor: pointer;
        background-image: url(../img/imagemovie.jpg);
        background-position: center;
        background-size: cover;
        position: relative; }
        .main-baner .for-z-index .iframe-wr .iframe .abs-play {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 65px;
          height: 65px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          transition: 0.3s;
          transform: translate(-50%, -50%);
          background: rgba(255, 255, 255, 0.7);
          box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.15); }
        .main-baner .for-z-index .iframe-wr .iframe svg {
          position: relative;
          left: 2px; }
        .main-baner .for-z-index .iframe-wr .iframe polygon {
          transition: 0.3s; }
        .main-baner .for-z-index .iframe-wr .iframe:hover .abs-play {
          background: #fff; }
        .main-baner .for-z-index .iframe-wr .iframe:hover polygon {
          fill: #0570c3; }
  .main-baner .desc-main-baner h2 {
    font-size: 36px;
    color: #fff;
    font-weight: normal;
    font-family: "FiraSans-Bold";
    margin-bottom: 45px;
    margin-top: -7px; }
  .main-baner .desc-main-baner ul {
    list-style: none;
    margin: 0;
    margin-bottom: 35px; }
    .main-baner .desc-main-baner ul li {
      font-size: 18px;
      color: #fff;
      position: relative;
      margin-bottom: 14px;
      padding-left: 20px; }
      .main-baner .desc-main-baner ul li:before {
        content: "";
        display: block;
        position: absolute;
        top: 10px;
        left: 0;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #25a9df; }
  .main-baner .flex-counter {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .main-baner .flex-counter .text-start {
      margin: 0;
      font-size: 24px;
      font-family: "FiraSans-Bold";
      color: #fff;
      line-height: 30px; }
    .main-baner .flex-counter .main-counter-wr {
      display: flex;
      color: #25a9df;
      font-size: 30px;
      width: 277px;
      align-items: center;
      position: relative;
      top: -12px; }
      .main-baner .flex-counter .main-counter-wr .counter-velue {
        line-height: 33px;
        color: #fff;
        font-size: 44px;
        display: block;
        position: relative;
        top: 2px;
        padding: 0 10px; }
        .main-baner .flex-counter .main-counter-wr .counter-velue:last-child {
          padding-right: 0; }
          .main-baner .flex-counter .main-counter-wr .counter-velue:last-child .desc {
            left: calc(50% + 3px); }
        .main-baner .flex-counter .main-counter-wr .counter-velue .desc {
          display: block;
          position: absolute;
          top: 100%;
          left: 50%;
          color: #25a9df;
          transform: translateX(-50%);
          font-size: 14px; }
        .main-baner .flex-counter .main-counter-wr .counter-velue .d, .main-baner .flex-counter .main-counter-wr .counter-velue .h, .main-baner .flex-counter .main-counter-wr .counter-velue .m, .main-baner .flex-counter .main-counter-wr .counter-velue .s {
          letter-spacing: 2px; }
  .main-baner .flex-buttons {
    display: flex; }
    .main-baner .flex-buttons .button-style:first-child {
      margin-right: 20px; }

.form-and-soc {
  background: #001a6a;
  position: relative;
  padding: 45px 50px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.15); }
  .form-and-soc .flex-form-soc {
    position: relative;
    display: flex; }
    .form-and-soc .flex-form-soc.opened .left-side {
      width: 100%; }
      .form-and-soc .flex-form-soc.opened .left-side .abs-socials .one-soc {
        margin-right: 43px; }
      .form-and-soc .flex-form-soc.opened .left-side .plus-wr .plus:before {
        transform: translate(-50%, -50%) rotate(45deg); }
      .form-and-soc .flex-form-soc.opened .left-side .plus-wr .plus:after {
        transform: translate(-50%, -50%) rotate(45deg); }
    .form-and-soc .flex-form-soc.opened .right-side {
      width: 0;
      padding-left: 0; }
    .form-and-soc .flex-form-soc .left-side {
      width: 36.5%;
      overflow: hidden;
      position: relative;
      display: flex;
      transition: 0.4s;
      justify-content: flex-end; }
      .form-and-soc .flex-form-soc .left-side .abs-socials {
        position: absolute;
        width: 1145px;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        transition: 0.3s;
        align-items: center; }
        .form-and-soc .flex-form-soc .left-side .abs-socials .one-soc {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 56px;
          height: 56px;
          background-color: #0052fb;
          border-radius: 6px;
          margin-right: 25px;
          cursor: pointer;
          transition: 0s; }
          .form-and-soc .flex-form-soc .left-side .abs-socials .one-soc:hover {
            background: linear-gradient(0deg, #518aff, #0052fb); }
      .form-and-soc .flex-form-soc .left-side .plus-wr {
        height: 100%;
        position: relative;
        z-index: 5;
        display: flex;
        align-items: center; }
        .form-and-soc .flex-form-soc .left-side .plus-wr .plus {
          width: 56px;
          height: 56px;
          border: 1px solid #0239a9;
          box-shadow: 0px 0px 20px 3px rgba(0, 82, 251, 0.25);
          border-radius: 6px;
          position: relative;
          transition: 0.3s;
          cursor: pointer;
          background-color: #001a6a; }
          .form-and-soc .flex-form-soc .left-side .plus-wr .plus:hover {
            box-shadow: 0px 0px 20px 3px rgba(0, 82, 251, 0.5); }
            .form-and-soc .flex-form-soc .left-side .plus-wr .plus:hover:before {
              background: #fff; }
            .form-and-soc .flex-form-soc .left-side .plus-wr .plus:hover:after {
              background: #fff; }
          .form-and-soc .flex-form-soc .left-side .plus-wr .plus:before {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 4px;
            height: 22px;
            background: #fff;
            transition: 0.3s;
            transform-origin: center; }
          .form-and-soc .flex-form-soc .left-side .plus-wr .plus:after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 22px;
            height: 4px;
            background: #fff;
            transition: 0.3s;
            transform-origin: center; }
    .form-and-soc .flex-form-soc .right-side {
      height: 65px;
      position: relative;
      width: 63.5%;
      display: flex;
      overflow: hidden;
      transition: 0.4s;
      align-items: center;
      justify-content: space-between; }
      .form-and-soc .flex-form-soc .right-side .abs {
        padding-left: 57px;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 660px; }
      .form-and-soc .flex-form-soc .right-side input {
        display: block;
        width: 100%;
        max-width: 345px;
        border: none;
        outline: none;
        background: transparent;
        padding: 13px 0;
        font-size: 18px;
        border-bottom: 2px solid #518aff;
        color: #fff; }
        .form-and-soc .flex-form-soc .right-side input:focus {
          border-color: #fff; }
          .form-and-soc .flex-form-soc .right-side input:focus::-webkit-input-placeholder {
            color: #fff; }
          .form-and-soc .flex-form-soc .right-side input:focus::-moz-placeholder {
            color: #fff; }
          .form-and-soc .flex-form-soc .right-side input:focus:-moz-placeholder {
            color: #fff; }
          .form-and-soc .flex-form-soc .right-side input:focus:-ms-input-placeholder {
            color: #fff; }
      .form-and-soc .flex-form-soc .right-side .button-style-2 {
        padding: 18px 0;
        background: #0052fb;
        transition: 0s; }
        .form-and-soc .flex-form-soc .right-side .button-style-2:hover {
          background: linear-gradient(0deg, #518aff, #0052fb); }
      .form-and-soc .flex-form-soc .right-side input::-webkit-input-placeholder {
        color: #518aff; }
      .form-and-soc .flex-form-soc .right-side input::-moz-placeholder {
        color: #518aff; }
      .form-and-soc .flex-form-soc .right-side input:-moz-placeholder {
        color: #518aff; }
      .form-and-soc .flex-form-soc .right-side input:-ms-input-placeholder {
        color: #518aff; }

button {
  outline: none; }

.for-flex-center-link {
  display: flex;
  justify-content: center; }
  .for-flex-center-link div {
    width: 230px; }

.sec-lvl-2 {
  padding: 75px 0;
  background-color: #001a6a; }
  .sec-lvl-2 h1, .sec-lvl-2 h2, .sec-lvl-2 h3, .sec-lvl-2 h4, .sec-lvl-2 h5, .sec-lvl-2 h6 {
    font-size: 36px;
    text-align: center;
    color: #fff;
    font-family: "FiraSans-Bold";
    margin-right: 40px; }
  .sec-lvl-2 p {
    font-size: 20px;
    text-align: center;
    color: #888888;
    margin-bottom: 65px; }

#particles-js, #particles-js-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.second-form {
  padding-bottom: 80px; }

.sec-slider-realiz {
  background: #061649;
  padding: 85px 0;
  overflow: hidden; }
  .sec-slider-realiz.conf-sec {
    background: #061649; }
    .sec-slider-realiz.conf-sec h4 {
      color: #fff; }
    .sec-slider-realiz.conf-sec .slider-realiz-init .one-slide .date {
      color: #66b3ff; }
      .sec-slider-realiz.conf-sec .slider-realiz-init .one-slide .date:before {
        background: #0d264e; }
      .sec-slider-realiz.conf-sec .slider-realiz-init .one-slide .date:after {
        border-color: #ffffff; }
    .sec-slider-realiz.conf-sec .slider-realiz-init .one-slide .desc {
      color: #fff;
      background: #004996; }
    .sec-slider-realiz.conf-sec .slider-realiz-init .one-slide:last-child:after {
      background: #0d264e; }
    .sec-slider-realiz.conf-sec .slider-realiz-init .slick-arrow:before {
      opacity: 1; }
  .sec-slider-realiz h4 {
    font-size: 36px;
    font-weight: normal;
    color: #fff;
    font-family: "FiraSans-Bold";
    margin-bottom: 80px;
    text-align: center; }
  .sec-slider-realiz .slider-realiz-init {
    display: flex;
    flex-wrap: wrap; }
    .sec-slider-realiz .slider-realiz-init .one-slide {
      width: 25%;
      outline: none;
      padding: 0 15px;
      margin-bottom: 40px;
      position: relative; }
      .sec-slider-realiz .slider-realiz-init .one-slide:before {
        content: "";
        display: block;
        position: absolute;
        top: 69px;
        left: 50%;
        height: 2px;
        background: #25a9df;
        width: 5000px; }
      .sec-slider-realiz .slider-realiz-init .one-slide:nth-child(4n+1):after {
        content: "";
        display: block;
        position: absolute;
        top: 69px;
        right: 50%;
        height: 2px;
        background: #25a9df;
        width: 5000px; }
      .sec-slider-realiz .slider-realiz-init .one-slide:first-child:after {
        display: none !important; }
      .sec-slider-realiz .slider-realiz-init .one-slide:last-child:after {
        content: "";
        display: block;
        position: absolute;
        top: 69px;
        height: 3px;
        left: calc(50% + 12px);
        background: #f2f5fa;
        z-index: 10;
        width: 5000px; }
      .sec-slider-realiz .slider-realiz-init .one-slide:last-child .desc:before {
        content: "";
        display: block;
        position: absolute;
        top: -34px;
        right: calc(50% + 12px);
        height: 2px;
        background: #25a9df;
        width: 5000px; }
      .sec-slider-realiz .slider-realiz-init .one-slide .date {
        position: relative;
        z-index: 10;
        padding-bottom: 60px;
        text-align: center;
        font-size: 13px;
        font-weight: bold;
        color: #0d264e;
        text-transform: uppercase; }
        .sec-slider-realiz .slider-realiz-init .one-slide .date:before {
          content: "";
          display: block;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 29px;
          height: 29px;
          background: #f2f5fa; }
        .sec-slider-realiz .slider-realiz-init .one-slide .date:after {
          content: "";
          display: block;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 19px;
          height: 19px;
          border: 5px solid #25a9df;
          border-radius: 50%; }
      .sec-slider-realiz .slider-realiz-init .one-slide .desc {
        background: #fff;
        padding: 15px;
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
        text-align: center;
        font-size: 16px;
        color: #0d264e;
        position: relative; }
    .sec-slider-realiz .slider-realiz-init .slick-arrow {
      display: block;
      position: absolute;
      top: 69px;
      transform: translateY(-50%);
      font-weight: normal;
      border: none;
      background-color: transparent;
      border: 2px solid #25a9df;
      border-radius: 50%;
      width: 56px;
      height: 56px;
      background-repeat: no-repeat;
      background-position: center;
      font-size: 0;
      transition: 0.3s; }
      .sec-slider-realiz .slider-realiz-init .slick-arrow:hover {
        background-color: #25a9df; }
        .sec-slider-realiz .slider-realiz-init .slick-arrow:hover:before {
          opacity: 1; }
      .sec-slider-realiz .slider-realiz-init .slick-arrow:before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 18px;
        height: 10px;
        opacity: 0; }
      .sec-slider-realiz .slider-realiz-init .slick-arrow.slick-prev {
        right: calc(100% + 5px);
        background-image: url(../img/arr-left.png); }
        .sec-slider-realiz .slider-realiz-init .slick-arrow.slick-prev:before {
          background-image: url(../img/arr-left-w.png); }
      .sec-slider-realiz .slider-realiz-init .slick-arrow.slick-next {
        left: calc(100% + 5px);
        background-image: url(../img/arr-right.png); }
        .sec-slider-realiz .slider-realiz-init .slick-arrow.slick-next:before {
          background-image: url(../img/arr-right-w.png); }

.for-padd-slider .slick-arrow {
  display: block;
  position: absolute;
  top: 69px;
  transform: translateY(-50%);
  font-weight: normal;
  border: none;
  background-color: transparent;
  border: 2px solid #25a9df;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0;
  transition: 0.3s;
  background-repeat: no-repeat;
  background-position: center; }
  .for-padd-slider .slick-arrow:hover {
    box-shadow: 0px 0px 20px 3px rgba(0, 82, 251, 0.5); }
  .for-padd-slider .slick-arrow:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
    height: 10px;
    opacity: 0; }
  .for-padd-slider .slick-arrow.slick-prev {
    right: calc(100% + 5px);
    background-image: url(../img/arr-left-w.png); }
  .for-padd-slider .slick-arrow.slick-next {
    left: calc(100% + 5px);
    background-image: url(../img/arr-right-w.png); }

.main-baner .flex-counter .main-counter-wr .counter-velue .d, .main-baner .flex-counter .main-counter-wr .counter-velue .h, .main-baner .flex-counter .main-counter-wr .counter-velue .m, .main-baner .flex-counter .main-counter-wr .counter-velue .s {
  width: 47px;
  display: block; }

.diagram {
  background: #061649;
  padding: 85px 0 70px 0; }
  .diagram .dia-head {
    text-align: center; }
    .diagram .dia-head .text-we-can {
      font-family: "FiraSans-Bold";
      font-size: 30px;
      margin-bottom: 80px;
      text-align: center;
      color: #0052fb;
      text-shadow: 0px 0px 10px #0052fb;
      letter-spacing: 1px; }
    .diagram .dia-head h4 {
      color: #fff;
      font-size: 36px;
      font-weight: normal;
      font-family: "FiraSans-Bold";
      margin-bottom: 35px; }
    .diagram .dia-head p {
      font-size: 20px;
      color: #518aff;
      margin-bottom: 60px; }
  .diagram .list-pr {
    list-style: none;
    margin: 0; }
    .diagram .list-pr li {
      position: relative;
      padding-left: 40px;
      font-size: 14px;
      color: #518aff;
      margin-bottom: 20px; }
      .diagram .list-pr li:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px; }
      .diagram .list-pr li.color-1:before {
        background: #e91d62; }
      .diagram .list-pr li.color-2:before {
        background: #2095f2; }
      .diagram .list-pr li.color-3:before {
        background: #00bcd5; }
      .diagram .list-pr li.color-4:before {
        background: #9c28b1; }
      .diagram .list-pr li.color-5:before {
        background: #019587; }
      .diagram .list-pr li.color-6:before {
        background: #3e50b4; }
      .diagram .list-pr li.color-7:before {
        background: #4baf4f; }
  .diagram .style-text-diag p {
    color: #fff;
    font-size: 16px; }

.modal {
  background: rgba(0, 0, 0, 0.7); }
  .modal .modal-dialog {
    width: 100%;
    max-width: 990px;
    margin: 40px auto; }
    .modal .modal-dialog iframe {
      border: none;
      display: block;
      width: 100%;
      height: 528px; }

#myChart {
  width: 300px; }
  #myChart .canvas-pos {
    position: relative;
    height: 300px;
    width: 300px; }

.for-button-pos {
  padding-top: 19px; }

#solution .img {
  height: 400px;
  position: relative;
  background-image: url(../img/gif.gif);
  background-size: 125%;
  background-position: center; }

#news .news_item .read {
  transition: 0.3s; }
  #news .news_item .read:hover {
    color: #004996;
    border-color: #004996; }

.main-baner .for-z-index .iframe-wr {
  margin-bottom: 40px; }

#man .man_text .soc a {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  border-radius: 6px;
  width: 52px;
  height: 52px;
  color: #0052fb; }
  #man .man_text .soc a:hover {
    background-color: #0570c3; }

#faqs .faq .question:after {
  top: 17px; }

#solution {
  background: #061649;
  padding-top: 120px; }

.flex-icons-human {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 20px; }
  .flex-icons-human a {
    width: 45px;
    height: 45px;
    display: block;
    margin: 5px;
    border-radius: #25a9df;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #25a9df;
    transition: 0s;
    border-radius: 4px; }
    .flex-icons-human a img {
      max-width: 25px; }
    .flex-icons-human a:hover {
      background: linear-gradient(0deg, #518aff, #0052fb); }

#news #all_news {
  color: #fff;
  background: #dddddd;
  color: #0d264e; }
  #news #all_news:hover {
    background: #c0c0c0;
    color: #0d264e; }

#faqs #all_faq {
  color: #0d264e;
  background: #dddddd; }
  #faqs #all_faq:hover {
    background: #c0c0c0;
    color: #0d264e; }

.form-and-soc .flex-form-soc .right-side input {
  border-radius: 0; }

.main-baner .flex-buttons {
  padding-top: 5px; }

#news .news_item .read:after {
  background: url(../img/icons/arr-right-blue.svg) no-repeat center;
  transition: 0.3s; }
#news .news_item .read:before {
  opacity: 0;
  position: absolute;
  content: '';
  width: 18px;
  height: 10px;
  display: block;
  background: url(../img/icons/arr-right-w-b.svg) no-repeat center;
  right: -30px;
  z-index: 5;
  top: 5px;
  transition: 0.3s; }
#news .news_item .read:hover:before {
  opacity: 1; }
#news .news_item .read:hover:after {
  opacity: 0; }

.new-baner-blue {
  background: linear-gradient(90deg, #00cdfe, #00529d); }
  .new-baner-blue p {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: "FiraSans-Bold";
    color: #fff;
    font-size: 24px;
    padding: 19px 0; }

#solution h2 {
  margin-bottom: 40px; }

.people .human_wrap .desc .text {
  font-size: 12px; }

.people .human_wrap .desc {
  padding: 20px 5px; }

.people {
  background: #061649; }

#man {
  background: #061649; }

#news {
  background: #061649; }

#faqs {
  background: #061649; }

#rates {
  background: #061649; }

.box-counter-ico {
  background: #001a6a;
  padding: 25px 0;
  margin-bottom: 30px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.15); }
  .box-counter-ico .text-start {
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
    font-family: "FiraSans-Bold";
    color: #fff;
    text-transform: uppercase;
    padding: 0 30px; }
  .box-counter-ico .main-counter-wr {
    display: flex; }
    .box-counter-ico .main-counter-wr .counter-velue {
      width: 25%;
      border-right: 1px solid #0052fb;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .box-counter-ico .main-counter-wr .counter-velue span {
        display: block;
        font-size: 40px;
        color: #fff;
        margin-bottom: 13px;
        line-height: 40px; }
        .box-counter-ico .main-counter-wr .counter-velue span.desc {
          margin: 0;
          font-size: 14px;
          color: #518aff;
          line-height: 14px; }
      .box-counter-ico .main-counter-wr .counter-velue:last-child {
        border: none; }
  .box-counter-ico .alrdy-geted-wrapp {
    padding: 0 30px; }
    .box-counter-ico .alrdy-geted-wrapp .rdy-geted-text {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 25px; }
      .box-counter-ico .alrdy-geted-wrapp .rdy-geted-text span {
        display: block;
        font-size: 18px;
        font-family: "FiraSans-Bold";
        color: #fff;
        padding-right: 9px;
        letter-spacing: 1px;
        text-transform: uppercase; }
        .box-counter-ico .alrdy-geted-wrapp .rdy-geted-text span.count {
          padding-right: 0;
          padding-left: 30px;
          padding-top: 2px;
          padding-bottom: 2px;
          background-image: url(../img/some-icon-count.png);
          background-repeat: no-repeat;
          background-position: top left; }
    .box-counter-ico .alrdy-geted-wrapp .top-range {
      display: flex;
      justify-content: space-between;
      margin-bottom: 4px; }
      .box-counter-ico .alrdy-geted-wrapp .top-range span {
        display: block;
        letter-spacing: 1px;
        font-size: 16px;
        text-transform: uppercase;
        color: #518aff; }
    .box-counter-ico .alrdy-geted-wrapp .some-range {
      margin-bottom: 21px;
      position: relative;
      height: 19px;
      border-radius: 19px;
      background: #fff; }
      .box-counter-ico .alrdy-geted-wrapp .some-range .done {
        position: absolute;
        top: 0;
        left: 0;
        height: 19px;
        background: linear-gradient(90deg, #518aff, #0052fb);
        border-radius: 19px;
        box-shadow: -4px 0px 20px 4px rgba(0, 82, 251, 0.75); }

#solution h2 {
  color: #fff; }

#solution .new-solution .tt-1 {
  max-width: 850px;
  color: #518aff;
  margin: 0 auto;
  font-size: 18px;
  text-align: center;
  margin-bottom: 60px; }
  #solution .new-solution .tt-1.small-m-w {
    max-width: 775px; }
#solution .new-solution .new-png-logo {
  margin: 0 auto;
  margin-bottom: 60px; }
#solution .new-solution .flex-boxes-solution {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  #solution .new-solution .flex-boxes-solution .one-box {
    width: 33.33%;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px; }
    #solution .new-solution .flex-boxes-solution .one-box p {
      font-size: 16px;
      text-align: center;
      font-weight: bold;
      color: #fff;
      letter-spacing: 1px; }

.for-flex-white-paper-new {
  display: flex;
  justify-content: center; }

.people h2 {
  color: #fff; }

.people .human_wrap:before {
  padding-top: 132%; }

.people .human_wrap .img {
  bottom: auto;
  height: 265px; }

.people .human_wrap {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.15); }

.flex-icons-human {
  padding-top: 0; }

.people .human_wrap .desc {
  background: #001a6a; }
  .people .human_wrap .desc .function {
    margin: 0;
    text-align: center;
    color: #518aff;
    font-size: 14px; }

#man .man_text p {
  color: #fff; }
  #man .man_text p.big {
    color: #518aff; }

.for-padd-slider .slider-realiz-init-new {
  display: flex; }
  .for-padd-slider .slider-realiz-init-new:nth-child(even) {
    flex-direction: row-reverse; }
    .for-padd-slider .slider-realiz-init-new:nth-child(even) .one-slide:first-child:before {
      width: 50%;
      left: 0; }
    .for-padd-slider .slider-realiz-init-new:nth-child(even) .one-slide:last-child:before {
      left: 50%;
      width: 50%; }
    .for-padd-slider .slider-realiz-init-new:nth-child(even) .one-slide:last-child:after {
      width: 140px;
      height: 257px;
      background-image: url(../img/left-duga.png);
      background-repeat: no-repeat;
      top: 48px;
      left: auto;
      right: 50%;
      transform: rotate(0); }
    .for-padd-slider .slider-realiz-init-new:nth-child(even) .one-slide:after {
      transform: rotate(180deg);
      transform-origin: center;
      right: auto;
      left: -6px; }
  .for-padd-slider .slider-realiz-init-new:nth-child(odd) .one-slide:last-child:after {
    width: 140px;
    height: 257px;
    background-image: url(../img/right-duga.png);
    background-repeat: no-repeat;
    top: 48px;
    right: auto;
    left: 50%; }
  .for-padd-slider .slider-realiz-init-new:last-child .one-slide:last-child:after {
    display: none; }
  .for-padd-slider .slider-realiz-init-new:last-child .one-slide .desc {
    min-height: auto; }
.for-padd-slider .one-slide {
  width: 25%;
  padding: 0 20px;
  position: relative; }
  .for-padd-slider .one-slide:first-child:before {
    width: 50%;
    left: 50%; }
  .for-padd-slider .one-slide:last-child:before {
    width: 50%; }
  .for-padd-slider .one-slide:before {
    content: "";
    display: block;
    position: absolute;
    top: 48px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #0000ff; }
  .for-padd-slider .one-slide:after {
    content: "";
    display: block;
    position: absolute;
    top: 39px;
    z-index: 5;
    right: -6px;
    width: 12px;
    height: 20px;
    background-image: url(../img/arr-right-new.png);
    background-repeat: no-repeat;
    background-position: center; }
  .for-padd-slider .one-slide .date {
    font-size: 13px;
    text-transform: uppercase;
    color: #518aff;
    text-align: center;
    position: relative;
    z-index: 20;
    margin-bottom: 16px; }
  .for-padd-slider .one-slide .circle-new {
    z-index: 15;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(81, 138, 255, 0.5), rgba(0, 82, 251, 0.5));
    box-shadow: 0px 0px 20px 4px rgba(0, 82, 251, 0.75);
    width: 27px;
    height: 27px;
    margin: 0 auto 34px auto;
    border-radius: 50%; }
    .for-padd-slider .one-slide .circle-new:before {
      content: "";
      display: block;
      background: linear-gradient(180deg, #518aff, #0052fb);
      width: 15px;
      height: 15px;
      border-radius: 50%; }
  .for-padd-slider .one-slide .desc {
    text-align: center;
    font-size: 16px;
    color: #fff;
    min-height: 159px;
    position: relative;
    z-index: 20; }

.img-white-paper-icon {
  padding-left: 37px !important;
  display: block;
  position: relative; }
  .img-white-paper-icon:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 11px;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-image: url(../img/list.png); }
  .img-white-paper-icon:after {
    content: "";
    display: block;
    position: absolute;
    top: 50% !important;
    left: 11px !important;
    transform: translateY(-50%);
    width: 16px !important;
    height: 16px !important;
    background: url(../img/list-white.png) !important;
    opacity: 0;
    transition: 0.3s;
    box-shadow: none !important; }
  .img-white-paper-icon:hover:after {
    opacity: 1 !important; }

.form-and-soc .flex-form-soc .right-side .button-style-2 {
  padding: 17px 0;
  transition: 0s, box-shadow 0.3s; }

.form-and-soc .flex-form-soc .right-side input {
  font-size: 16px; }

.form-and-soc .flex-form-soc .left-side .abs-socials .one-soc {
  width: 52px;
  height: 52px; }

.form-and-soc .flex-form-soc .left-side .abs-socials .one-soc {
  margin-right: 28px; }

.form-and-soc .flex-form-soc .left-side {
  height: 80px;
  width: 38%; }

.form-and-soc {
  padding: 30px 50px; }

.form-and-soc .flex-form-soc .left-side .plus-wr {
  left: -17px; }

.form-and-soc .flex-form-soc.opened .left-side .abs-socials .one-soc {
  margin-right: 46px; }

.form-and-soc .flex-form-soc .right-side .button-style-2 {
  margin-right: 9px; }

.form-and-soc .flex-form-soc {
  align-items: center; }

.form-and-soc .flex-form-soc .left-side .plus-wr .plus {
  width: 52px;
  height: 52px; }

#man .man_text .soc a {
  transition: 0s; }
  #man .man_text .soc a:hover {
    background: linear-gradient(0deg, #518aff, #0052fb); }

#contacts p {
  color: #518aff;
  font-size: 20px; }

#contacts .addr, #contacts a {
  color: #fff; }

#contacts .icon {
  background: #001a6a; }

#contacts .icon.cont_addr span {
  background-position: center; }

#contacts .icon.cont_mail span {
  background-image: url(../img/mail-icon.png);
  background-repeat: no-repeat;
  background-position: center; }

.form-and-soc .flex-form-soc .right-side {
  height: 80px; }

.form-and-soc {
  padding: 30px 40px 30px 50px; }

.form-and-soc .flex-form-soc .right-side {
  width: 64.5%; }

.form-and-soc .flex-form-soc .right-side .abs {
  padding-right: 4px; }

.form-and-soc .flex-form-soc .left-side .abs-socials .one-soc {
  transition: margin 0.3s; }

#contacts .addr, #contacts a {
  transition: 0s, box-shadow 0.3s,margin 0.3s; }

/*# sourceMappingURL=style.css.map */
