.sec-lvl-1 {
  background-color: #0d264e; }
  .sec-lvl-1 .header-nav {
    border-bottom: 1px solid #004996; }
    .sec-lvl-1 .header-nav .flex-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .sec-lvl-1 .header-nav .flex-menu .side.left-side {
        width: 265px; }
      .sec-lvl-1 .header-nav .flex-menu .side.right-side {
        width: 265px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end; }
        .sec-lvl-1 .header-nav .flex-menu .side.right-side .flex-lang {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
          .sec-lvl-1 .header-nav .flex-menu .side.right-side .flex-lang .lang-wrapp {
            padding-right: 20px;
            margin-right: 28px;
            cursor: pointer;
            position: relative; }
            .sec-lvl-1 .header-nav .flex-menu .side.right-side .flex-lang .lang-wrapp:after {
              content: "";
              display: block;
              position: absolute;
              top: 7px;
              right: 0;
              width: 11px;
              height: 7px;
              background-image: url(../img/arr-down.png);
              background-repeat: no-repeat;
              background-position: center; }
            .sec-lvl-1 .header-nav .flex-menu .side.right-side .flex-lang .lang-wrapp:hover .lang {
              color: #fff; }
            .sec-lvl-1 .header-nav .flex-menu .side.right-side .flex-lang .lang-wrapp .lang {
              color: #25a9df;
              text-transform: uppercase;
              font-size: 16px;
              -webkit-transition: 0.3s;
              transition: 0.3s; }
            .sec-lvl-1 .header-nav .flex-menu .side.right-side .flex-lang .lang-wrapp .lang-list {
              display: none; }
          .sec-lvl-1 .header-nav .flex-menu .side.right-side .flex-lang .login {
            display: block;
            cursor: pointer;
            padding: 10px 36px;
            text-transform: uppercase;
            font-size: 13px;
            font-family: "FiraSans-Bold";
            border: 2px solid #25a9df;
            border-radius: 50px;
            -webkit-transition: 0.3s;
            transition: 0.3s;
            color: #fff; }
            .sec-lvl-1 .header-nav .flex-menu .side.right-side .flex-lang .login:hover {
              background: #25a9df; }
      .sec-lvl-1 .header-nav .flex-menu .side.mid-side .menu-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        list-style: none;
        margin: 0; }
        .sec-lvl-1 .header-nav .flex-menu .side.mid-side .menu-list .first-itm a, .sec-lvl-1 .header-nav .flex-menu .side.mid-side .menu-list .first-itm span {
          cursor: pointer;
          color: #25a9df;
          font-size: 16px;
          display: block;
          padding: 33px 11px;
          position: relative;
          -webkit-transition: 0.3s;
          transition: 0.3s; }
          .sec-lvl-1 .header-nav .flex-menu .side.mid-side .menu-list .first-itm a:after, .sec-lvl-1 .header-nav .flex-menu .side.mid-side .menu-list .first-itm span:after {
            content: "";
            display: block;
            position: absolute;
            bottom: -1px;
            height: 2px;
            left: 0;
            width: 100%;
            background: #25a9df;
            -webkit-transition: 0.3s;
            transition: 0.3s;
            opacity: 0; }
        .sec-lvl-1 .header-nav .flex-menu .side.mid-side .menu-list .first-itm:hover a, .sec-lvl-1 .header-nav .flex-menu .side.mid-side .menu-list .first-itm:hover span {
          color: #fff; }
          .sec-lvl-1 .header-nav .flex-menu .side.mid-side .menu-list .first-itm:hover a:after, .sec-lvl-1 .header-nav .flex-menu .side.mid-side .menu-list .first-itm:hover span:after {
            opacity: 1; }
        .sec-lvl-1 .header-nav .flex-menu .side.mid-side .menu-list .first-itm.active a, .sec-lvl-1 .header-nav .flex-menu .side.mid-side .menu-list .first-itm.active span {
          color: #fff; }
          .sec-lvl-1 .header-nav .flex-menu .side.mid-side .menu-list .first-itm.active a:after, .sec-lvl-1 .header-nav .flex-menu .side.mid-side .menu-list .first-itm.active span:after {
            opacity: 1; }

/*# sourceMappingURL=style.css.map */