@font-face {
    font-family: "FiraSans";
    src: url("../fonts/FiraSans-Regular.ttf");
}
@font-face {
    font-family: "FiraSans-Bold";
    src: url("../fonts/FiraSans-Bold.ttf");
}
@font-face {
    font-family: "FiraSans-BoldItalic";
    src: url("../fonts/FiraSans-BoldItalic.ttf");
}

body{
    font-family: "FiraSans";
}