@font-face {
    font-family: "FiraSans";
    src: url("../fonts/FiraSans-Regular.ttf");
}
@font-face {
    font-family: "FiraSans-Bold";
    src: url("../fonts/FiraSans-Bold.ttf");
}
@font-face {
    font-family: "FiraSans-BoldItalic";
    src: url("../fonts/FiraSans-BoldItalic.ttf");
}

body{
    font-family: "FiraSans";
}

#solution {
    padding: 90px 0;

    h2 {
        text-align: center;
        color: #0d264e;
        font: 36px FiraSans-Bold;
        margin-bottom: 35px;
    }

    .img {
        margin-bottom: 30px;
    }

    p {
        font-size: 16px;
        color: #0d264e;
        line-height: 1.7;
    }

    .epigraph {
        font-size: 20px;
        color: #888;
        text-align: center;
        margin-bottom: 65px;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            font-size: 16px;
            color: #0d264e;
            position: relative;
            padding-left: 25px;
            margin-bottom: 20px;

            &:before {
                content: '';
                display: block;
                width: 6px;
                height: 6px;
                border-radius: 6px;
                background: #25a9df;
                position: absolute;
                left: 0;
                top: 9px;
            }
        }
    }
}

#man {
    background: #0d264e;
    padding: 90px 0;

    .man_wrap {
        position: relative;
        width: 100%;
        overflow: hidden;

        &:before {
            content: '';
            display: block;
            padding-top: 100%;
        }

        .img {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: center center no-repeat;
            background-size: cover;
        }

        .desc {
            position: absolute;
            bottom: 0;
            background: rgba(13, 38, 78, 0.6);
            color: white;
            left: 0;
            right: 0;
            padding: 20px;
            font-size: 14px;
            font-style: italic;
            color: white;
        }
    }

    .man_text {
        padding-left: 90px;
        padding-top: 55px;

        h5 {
            color: white;
            font: 36px FiraSans-Bold;
            margin-bottom: 35px;
        }

        p {
            font-size: 16px;
            color: #25a9df;
            line-height: 1.7;
            margin-bottom: 35px;

            &.big {
                font-size: 20px;
            }
        }

        .soc {
            display: flex;

            a {
                display: flex;
                width: 56px;
                height: 56px;
                border-radius: 56px;
                background: #25a9df;
                margin-right: 20px;

                img {
                    margin: auto;
                }
            }
        }
    }
}

.people {
    padding: 90px 0;

    h2 {
        text-align: center;
        color: #0d264e;
        font: 36px FiraSans-Bold;
        margin-bottom: 80px;
    }

    .human_wrap {
        position: relative;
        width: 100%;
        overflow: hidden;
        margin-bottom: 30px;

        &:before {
            content: '';
            display: block;
            padding-top: 100%;
        }

        .img {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: center center no-repeat;
            background-size: cover;
        }

        .desc {
            position: absolute;
            bottom: 0;
            background: rgba(13, 38, 78, 0.6);
            color: white;
            left: 0;
            right: 0;
            padding: 20px 0;

            .name {
                text-align: center;
                font: 17px FiraSans-Bold;
                margin: 0;
            }

            .text {
                text-align: center;
                margin: 15px 0 0;
                font-size: 15px;
                line-height: 1.7;
                display: none;
            }
        }
    }

    .all_people {
        color: #0d264e;
        margin: 30px auto 0;

        &:hover {
            color: white;
        }
    }
}

#news {
    background: #f2f5fa;
    padding: 90px 0;

    h2 {
        text-align: center;
        color: #0d264e;
        font: 36px FiraSans-Bold;
        margin-bottom: 70px;
    }

    .news_item {
        cursor: pointer;
        margin-bottom: 30px;

        .img_wrap {
            position: relative;
            width: 100%;
            overflow: hidden;
            margin-bottom: 20px;

            &:before {
                content: '';
                display: block;
                padding-top: 61.6%;
            }

            .img {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: center center no-repeat;
                background-size: cover;

                &:after {
                    content: '';
                    background: rgb(13, 38, 78);
                    opacity: 0.5;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    transition: 0.3s;
                }
            }
        }

        .date {
            color: #888;
            font-size: 14px;
        }

        .title {
            color: #0d264e;
            font: 18px FiraSans-Bold;
            transition: 0.3s;
            line-height: 1.6;
            display: block;
            margin-top: 5px;
        }

        .read {
            color: #25a9df;
            text-transform: uppercase;
            display: inline-block;
            border-bottom: 1px solid #25a9df;
            font-size: 14px;
            margin-top: 10px;
            position: relative;

            &:after {
                position: absolute;
                content: '';
                width: 18px;
                height: 10px;
                display: block;
                background: url(../img/news_arrow.png) no-repeat center;
                right: -30px;
                top: 5px;
            }
        }
        .new-hover{
            &:hover {
                .img_wrap {
                    .img {
                        &:after {
                            opacity: 0;
                        }
                    }
                }
                .title {
                    color: #25a9df;
                }
            }
        }
    }

    #all_news {
        color: #0d264e;
        margin: 30px auto 0;

        &:hover {
            color: white;
        }
    }
}

#rates {
    padding: 85px 0 90px;

    h2 {
        text-align: center;
        color: #0d264e;
        font: 36px FiraSans-Bold;
        margin-bottom: 80px;
    }

    .rate {
        background: #f2f5fa;
        padding: 50px 40px 45px;

        .num {
            color: #0d264e;
            font: 36px FiraSans-Bold;
            text-align: center;
            padding-bottom: 45px;
            position: relative;

            &:after {
                position: absolute;
                content: '';
                width: 100%;
                height: 1px;
                left: 0;
                bottom: 0;
                background: #ccc;
            }
        }

        .img {
            min-height: 50px;
            display: flex;
            margin-top: 40px;

            img {
                margin: auto;
            }
        }
    }
}

#faqs {
    background: #f2f5fa;
    padding: 90px 0;

    h2 {
        text-align: center;
        color: #0d264e;
        font: 36px FiraSans-Bold;
        margin-bottom: 70px;
    }

    .faq {
        background: white;
        padding: 20px 30px;
        cursor: pointer;
        transition: 0.3s;
        margin-bottom: 10px;

        .question {
            color: #0d264e;
            font: 16px FiraSans-Bold;
            line-height: 1.7;
            position: relative;
            margin-bottom: 0;
            transition: 0.3s;
            padding-right: 25px;

            &:after {
                content: '';
                display: block;
                width: 15px;
                height: 9px;
                position: absolute;
                right: 0;
                top: 50%;
                margin-top: -4.5px;
                background: url(../img/faq_arrows.png) no-repeat 0 0;
            }
        }

        .answer {
            font-size: 16px;
            line-height: 1.7;
            color: white;
        }

        &.opened {
            background: #25a9df;

            .question {
                color: white;
                margin-bottom: 15px;

                &:after {
                    background-position: 0 -9px;
                }
            }
        }
    }

    #all_faq {
        margin: 50px auto 0;
        color: #0d264e;

        &:hover {
            color: white;
        }
    }
}

#contacts {
    background: #0d264e;
    position: relative;
    padding: 85px 0 90px;

    h2 {
        color: white;
        font: 36px FiraSans-Bold;
        text-align: center;
        margin-bottom: 40px;
    }

    p {
        color: #25a9df;
        font-size: 20px;
        text-align: center;
        margin-bottom: 70px;
    }

    .icon {
        width: 56px;
        height: 56px;
        background: #004996;
        border-radius: 56px;
        margin: 0 auto 25px;
        display: flex;

        span {
            display: block;
            margin: auto;
            background-image: url(../img/contacts.png);
            background-repeat: no-repeat;
            width: 27px;
        }

        &.cont_addr span {
            background-position: 0 0;
            height: 28px;
        }
        &.cont_phone span {
            background-position: 0 -28px;
            height: 29px;
        }
        &.cont_phone span {
            background-position: 0 -28px;
            height: 29px;
        }
        &.cont_mail span {
            background-position: 0 -57px;
            height: 20px;
        }
    }

    .addr, a {
        color: #25a9df;
        font-size: 18px;
        transition: 0.3s;
    }

    a:hover {
        color: white;
    }
}

footer {
    background: #f2f5fa;
    margin: 0;
    padding: 60px 0;

    .logo {
        text-align: center;
    }

    .menu {
        margin: 55px 0 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: center;

        li {
            margin: 0 10px;

            a, span {
                color: #888;
                font-size: 16px;
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    color: #25a9df;
                }
            }
        }
    }
}
