.button-style {
  display: block;
  cursor: pointer;
  width: 100%;
  max-width: 230px;
  text-align: center;
  letter-spacing: 2px;
  padding: 20px 0;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "FiraSans-Bold";
  border: 2px solid #25a9df;
  border-radius: 50px;
  transition: 0.3s;
  color: #fff; }
  .button-style:hover {
    background: #25a9df; }

.button-style-2 {
  display: block;
  cursor: pointer;
  width: 100%;
  max-width: 230px;
  text-align: center;
  letter-spacing: 2px;
  padding: 20px 0;
  text-transform: uppercase;
  font-size: 14px;
  background: #25a9df;
  font-family: "FiraSans-Bold";
  border: 2px solid #19b1f4;
  border-radius: 50px;
  transition: 0.3s;
  color: #fff; }

.button-style-3 {
  display: block;
  cursor: pointer;
  width: 100%;
  max-width: 230px;
  text-align: center;
  letter-spacing: 2px;
  padding: 20px 0;
  text-transform: uppercase;
  font-size: 14px;
  background: #25a9df;
  font-family: "FiraSans-Bold";
  border: 2px solid #25a9df;
  border-radius: 50px;
  transition: 0.3s;
  color: #fff;
  margin: 0 auto; }

.sec-lvl-1 {
  background-color: #0d264e; }
  .sec-lvl-1 .header-nav {
    border-bottom: 1px solid #004996; }
    .sec-lvl-1 .header-nav .flex-menu {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .sec-lvl-1 .header-nav .flex-menu .side.left-side {
        width: 265px; }
      .sec-lvl-1 .header-nav .flex-menu .side.right-side {
        width: 265px;
        display: flex;
        justify-content: flex-end; }
        .sec-lvl-1 .header-nav .flex-menu .side.right-side .flex-lang {
          display: flex;
          align-items: center; }
          .sec-lvl-1 .header-nav .flex-menu .side.right-side .flex-lang .lang-wrapp {
            padding-right: 20px;
            margin-right: 28px;
            cursor: pointer;
            position: relative; }
            .sec-lvl-1 .header-nav .flex-menu .side.right-side .flex-lang .lang-wrapp:after {
              content: "";
              display: block;
              position: absolute;
              top: 7px;
              right: 0;
              width: 11px;
              height: 7px;
              background-image: url(../img/arr-down.png);
              background-repeat: no-repeat;
              background-position: center; }
            .sec-lvl-1 .header-nav .flex-menu .side.right-side .flex-lang .lang-wrapp:hover .lang {
              color: #fff; }
            .sec-lvl-1 .header-nav .flex-menu .side.right-side .flex-lang .lang-wrapp .lang {
              color: #25a9df;
              text-transform: uppercase;
              font-size: 16px;
              transition: 0.3s; }
            .sec-lvl-1 .header-nav .flex-menu .side.right-side .flex-lang .lang-wrapp .lang-list {
              display: none; }
          .sec-lvl-1 .header-nav .flex-menu .side.right-side .flex-lang .login {
            display: block;
            cursor: pointer;
            padding: 10px 36px;
            text-transform: uppercase;
            font-size: 13px;
            font-family: "FiraSans-Bold";
            border: 2px solid #25a9df;
            border-radius: 50px;
            transition: 0.3s;
            color: #fff;
            letter-spacing: 1px; }
            .sec-lvl-1 .header-nav .flex-menu .side.right-side .flex-lang .login:hover {
              background: #25a9df; }
      .sec-lvl-1 .header-nav .flex-menu .side.mid-side .menu-list {
        display: flex;
        list-style: none;
        margin: 0; }
        .sec-lvl-1 .header-nav .flex-menu .side.mid-side .menu-list .first-itm a, .sec-lvl-1 .header-nav .flex-menu .side.mid-side .menu-list .first-itm span {
          cursor: pointer;
          color: #25a9df;
          font-size: 16px;
          display: block;
          padding: 33px 11px;
          position: relative;
          transition: 0.3s; }
          .sec-lvl-1 .header-nav .flex-menu .side.mid-side .menu-list .first-itm a:after, .sec-lvl-1 .header-nav .flex-menu .side.mid-side .menu-list .first-itm span:after {
            content: "";
            display: block;
            position: absolute;
            bottom: -1px;
            height: 2px;
            left: 0;
            width: 100%;
            background: #25a9df;
            transition: 0.3s;
            opacity: 0; }
        .sec-lvl-1 .header-nav .flex-menu .side.mid-side .menu-list .first-itm:hover a, .sec-lvl-1 .header-nav .flex-menu .side.mid-side .menu-list .first-itm:hover span {
          color: #fff; }
          .sec-lvl-1 .header-nav .flex-menu .side.mid-side .menu-list .first-itm:hover a:after, .sec-lvl-1 .header-nav .flex-menu .side.mid-side .menu-list .first-itm:hover span:after {
            opacity: 1; }
        .sec-lvl-1 .header-nav .flex-menu .side.mid-side .menu-list .first-itm.active a, .sec-lvl-1 .header-nav .flex-menu .side.mid-side .menu-list .first-itm.active span {
          color: #fff; }
          .sec-lvl-1 .header-nav .flex-menu .side.mid-side .menu-list .first-itm.active a:after, .sec-lvl-1 .header-nav .flex-menu .side.mid-side .menu-list .first-itm.active span:after {
            opacity: 1; }

.main-baner {
  position: relative;
  padding-top: 70px; }
  .main-baner .for-z-index {
    position: relative;
    z-index: 10; }
    .main-baner .for-z-index .iframe-wr {
      margin-bottom: 30px; }
      .main-baner .for-z-index .iframe-wr iframe {
        display: block;
        border: none;
        width: 100%;
        height: 250px; }
  .main-baner .desc-main-baner h2 {
    font-size: 36px;
    color: #fff;
    font-weight: normal;
    font-family: "FiraSans-Bold";
    margin-bottom: 30px;
    margin-top: -7px; }
  .main-baner .desc-main-baner ul {
    list-style: none;
    margin: 0; }
    .main-baner .desc-main-baner ul li {
      font-size: 18px;
      color: #25a9df;
      position: relative;
      margin-bottom: 14px;
      padding-left: 20px; }
      .main-baner .desc-main-baner ul li:before {
        content: "";
        display: block;
        position: absolute;
        top: 10px;
        left: 0;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #25a9df; }
  .main-baner .flex-counter {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .main-baner .flex-counter .text-start {
      margin: 0;
      font-size: 24px;
      font-family: "FiraSans-Bold";
      color: #fff;
      line-height: 30px; }
    .main-baner .flex-counter .main-counter-wr {
      display: flex;
      color: #25a9df;
      font-size: 30px;
      align-items: center;
      position: relative;
      top: -12px; }
      .main-baner .flex-counter .main-counter-wr .counter-velue {
        line-height: 33px;
        color: #fff;
        font-size: 44px;
        display: block;
        position: relative;
        top: 2px;
        padding: 0 10px; }
        .main-baner .flex-counter .main-counter-wr .counter-velue:last-child {
          padding-right: 0; }
          .main-baner .flex-counter .main-counter-wr .counter-velue:last-child .desc {
            left: calc(50% + 3px); }
        .main-baner .flex-counter .main-counter-wr .counter-velue .desc {
          display: block;
          position: absolute;
          top: 100%;
          left: 50%;
          color: #25a9df;
          transform: translateX(-50%);
          font-size: 14px; }
        .main-baner .flex-counter .main-counter-wr .counter-velue .d, .main-baner .flex-counter .main-counter-wr .counter-velue .h, .main-baner .flex-counter .main-counter-wr .counter-velue .m, .main-baner .flex-counter .main-counter-wr .counter-velue .s {
          letter-spacing: 2px; }
  .main-baner .flex-buttons {
    display: flex; }
    .main-baner .flex-buttons .button-style:first-child {
      margin-right: 20px; }

.form-and-soc {
  background: #fff;
  position: relative;
  padding: 45px 50px;
  transform: translateY(50%);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.15); }
  .form-and-soc .flex-form-soc {
    position: relative;
    display: flex; }
    .form-and-soc .flex-form-soc.opened .left-side {
      width: 100%; }
      .form-and-soc .flex-form-soc.opened .left-side .abs-socials .one-soc {
        margin-right: 43px; }
      .form-and-soc .flex-form-soc.opened .left-side .plus-wr .plus {
        transform: rotate(45deg); }
    .form-and-soc .flex-form-soc.opened .right-side {
      width: 0;
      padding-left: 0; }
    .form-and-soc .flex-form-soc .left-side {
      width: 36.5%;
      overflow: hidden;
      position: relative;
      display: flex;
      transition: 0.3s;
      justify-content: flex-end; }
      .form-and-soc .flex-form-soc .left-side .abs-socials {
        position: absolute;
        width: 1145px;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        align-items: center; }
        .form-and-soc .flex-form-soc .left-side .abs-socials .one-soc {
          width: 56px;
          height: 56px;
          background-color: #25a9df;
          border-radius: 50%;
          margin-right: 25px;
          cursor: pointer;
          display: block;
          transition: 0.3s; }
      .form-and-soc .flex-form-soc .left-side .plus-wr {
        background: #fff;
        height: 100%;
        position: relative;
        z-index: 5;
        display: flex;
        align-items: center; }
        .form-and-soc .flex-form-soc .left-side .plus-wr .plus {
          width: 56px;
          height: 56px;
          border: 2px solid #25a9df;
          border-radius: 50%;
          position: relative;
          transition: 0.3s;
          cursor: pointer; }
          .form-and-soc .flex-form-soc .left-side .plus-wr .plus:hover {
            background-color: #25a9df; }
            .form-and-soc .flex-form-soc .left-side .plus-wr .plus:hover:before {
              background: #fff; }
            .form-and-soc .flex-form-soc .left-side .plus-wr .plus:hover:after {
              background: #fff; }
          .form-and-soc .flex-form-soc .left-side .plus-wr .plus:before {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 4px;
            height: 22px;
            background: #25a9df;
            transition: 0.3s; }
          .form-and-soc .flex-form-soc .left-side .plus-wr .plus:after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 22px;
            height: 4px;
            background: #25a9df;
            transition: 0.3s; }
    .form-and-soc .flex-form-soc .right-side {
      height: 65px;
      position: relative;
      width: 63.5%;
      display: flex;
      overflow: hidden;
      transition: 0.3s;
      align-items: center;
      justify-content: space-between; }
      .form-and-soc .flex-form-soc .right-side .abs {
        padding-left: 57px;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 660px; }
      .form-and-soc .flex-form-soc .right-side input {
        display: block;
        width: 100%;
        max-width: 345px;
        border: none;
        outline: none;
        padding: 17px 0;
        font-size: 18px;
        border-bottom: 2px solid #dddddd; }
      .form-and-soc .flex-form-soc .right-side input::-webkit-input-placeholder {
        color: #888888; }
      .form-and-soc .flex-form-soc .right-side input::-moz-placeholder {
        color: #888888; }
      .form-and-soc .flex-form-soc .right-side input:-moz-placeholder {
        color: #888888; }
      .form-and-soc .flex-form-soc .right-side input:-ms-input-placeholder {
        color: #888888; }

.sec-lvl-2 {
  padding: 155px 0 95px 0;
  background-color: #f2f5fa; }
  .sec-lvl-2 h1, .sec-lvl-2 h2, .sec-lvl-2 h3, .sec-lvl-2 h4, .sec-lvl-2 h5, .sec-lvl-2 h6 {
    font-size: 36px;
    text-align: center;
    color: #0d264e;
    font-family: "FiraSans-Bold";
    margin-bottom: 36px; }
  .sec-lvl-2 p {
    font-size: 20px;
    text-align: center;
    color: #888888; }

/*# sourceMappingURL=style.css.map */
