.button-style{
    display: block;
    cursor: pointer;
    width: 100%;
    max-width: 220px;
    text-align: center;
    letter-spacing: 2px;
    padding: 16px 0;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "FiraSans-Bold";
   background: #004996;
    border-radius: 6px;
    transition: 0.3s;
    color: #fff;
    &:hover{
        background:#003872;
    }
    &.second-b{
        background:#25a9df;
        &:hover{
            background: #0570c3;
            color: #fff;
          
        }
    }
}
.button-style-2{
    display: block;
    cursor: pointer;
    width: 100%;
    max-width: 230px;
    text-align: center;
    letter-spacing: 2px;
    padding: 16px 0;
    text-transform: uppercase;
    font-size: 14px;
    background:#25a9df;
    font-family: "FiraSans-Bold";
    background: #25a9df;
    border: none;
    border-radius: 6px;
    transition: 0.3s;
    color: #fff;
    &:hover{
        background: #0570c3;
        color: #fff;
        border-color: #004996;
    }
    
}
.button-style-3{
    display: block;
    cursor: pointer;
    width: 100%;
    max-width: 230px;
    text-align: center;
    letter-spacing: 2px;
    padding: 16px 0;
    text-transform: uppercase;
    font-size: 14px;
    background: transparent;
    font-family: "FiraSans-Bold";
    background: #25a9df;
    border-radius: 6px;
    transition: 0.3s;
    margin: 0 auto;
    color: #fff;
    &:hover{
        color: #fff;
         background:#0570c3;
    }
    
    
}


.for-w-s{
        width: 59px;
    display: block;
    
}

.sec-lvl-1{
    background-color: #0d264e;
   position: relative;
    .header-nav{
        border-bottom: 1px solid #004996;
        background-color: #0d264e;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        width: 100%;
        transition: 0.3s;
        &.scrolled{
            position: fixed;
            background: #fff;
            border: none;
            box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.10);
            .flex-menu .side.right-side .flex-lang .lang-wrapp .lang-list{
                    transform: translate(-50%, 27px);
            }
            .flex-menu{
                .side{
                    &.left-side{
                        .rel-wr{
                            position: relative;
                            .abs-img{
                                opacity: 1;
                            }
                        }
                    }
                    &.right-side{
                        .flex-lang{
                            .lang-wrapp{
                                &:hover{
                                    .lang{
                                        color: #0d264e;
                                    }
                                }
                            }
                            .login{
                                background:#25a9df;
                                color: #fff;
                                &:hover{
                                    background: #0d264e;
                                }
                            }
                        }
                    }
                    &.mid-side{
                        .menu-list{
                            .first-itm{
                                a,span{
                                    padding: 27px 11px;
                                    &:after{
                                        bottom: 0;
                                    }
                                }
                                &:hover{
                                    a,span{
                                        color: #0d264e;
                                    }
                                }
                                &.active{
                                    a,span{
                                        color: #0d264e;
                                        &:after{
                                            
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &.every-time-scrolled{
            display: none!important;
            position: fixed!important;
            top: -500px;
            transition: 1s;
            z-index: 700;
            .flex-menu .side.left-side{
                padding-top: 0;
                  padding-bottom: 10px;
            }
            .flex-menu .side.right-side{
                margin-bottom: 10px;
            }
            &.js-fixed{
                top: 0;
             
            }
            .navbar-toggle{
                top: -9px;
            }
            .navbar-toggle .icon-bar{
                background: #0d264e;
            }
            
            .flex-menu .side.mid-side .menu-list .first-itm a, .flex-menu .side.mid-side .menu-list .first-itm span{
                padding: 15px 11px;
            }
        }
        .flex-menu{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .side{
                &.left-side{
                    width: 265px;
                    display: flex;
                    .rel-wr{
                        position: relative;
                        .abs-img{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            opacity: 0;
                        }
                    }
                }
                &.right-side{
                    width: 265px;
                    display: flex;
                    justify-content: flex-end;
                    .flex-lang{
                        display: flex;
                        align-items: center;
                        .lang-wrapp{
                            padding-right: 20px;
                            margin-right: 28px;
                            cursor: pointer;
                            position: relative;
                            &:after{
                                content: "";
                                display: block;
                                position: absolute;
                                top: 7px;
                                right: 0;
                                width: 11px;
                                height: 7px;
                                background-image: url(../img/arr-down.png);
                                background-repeat: no-repeat;
                                background-position: center;
                            }
                            &:hover{
                                .lang{
                                    color: #fff;
                                    
                                }
                            }
                            .lang{
                                color: #25a9df;
                                text-transform: uppercase;
                                font-size: 16px;
                                transition: 0.3s;
                                
                            }
                            .lang-list{
                                display: none;
                                position: absolute;
                                    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.10);
                                top: 100%;
                                left: 50%;
                                transform: translate(-50%,33px);
                                background: #fff;
                                width: 70px;
                                &:before{
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    top: -9px;
                                    left: 50%;
                                    transform: rotate(45deg);
                                    -webkit-transform: translateX(-50%);
                                    transform: translateX(-50%) rotate(45deg);
                                    width: 18px;
                                    height: 18px;
                                    background: #fff;
                                    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.10);
                                }
                                a,span{
                                    display: block;
                                    position: relative;
                                    z-index: 10;
                                    background: #fff;
                                    color: #0d264e;
                                    text-transform: uppercase;
                                    text-align: center;
                                    font-size: 16px;
                                    padding: 9px 0;
                                    border-bottom: 1px solid #dddddd;
                                    transition: 0.3s;
                                    &:last-child{
                                        border:none;
                                    }
                                    &:hover{
                                        background: #f2f5fa;
                                    }
                                    &.active{
                                        background: #25a9df;
                                        color: #fff;
                                        &:hover{
                                            background: #25a9df;
                                        }
                                    }
                                }
                            }
                        }
                        .login{
                            display: block;
                            cursor: pointer;
                                padding: 13px 20px;
                            text-transform: uppercase;
                            font-size: 13px;
                            font-family: "FiraSans-Bold";
                         
                            border-radius: 6px;
                            background: #004996;
                            transition: 0.3s;
                            color: #fff;
                            letter-spacing: 1px;
                            &:hover{
                                background:#003872;
                            }
                            
                        }
                    }
                }
                &.mid-side{
                    .menu-list{
                        display: flex;
                        list-style: none;
                        margin: 0;
                        .first-itm{
                            a,span{
                                cursor: pointer;
                                color: #25a9df;
                                font-size: 16px;
                                display: block;
                                padding: 33px 11px;
                                position: relative;
                                transition: 0.3s;
                                
                                &:after{
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    bottom: -1px;
                                    height: 2px;
                                    left: 0;
                                    width: 100%;
                                    background: #25a9df;
                                    transition: 0.3s;
                                    opacity: 0;
                                }
                            }
                            &:hover{
                                a,span{
                                    color: #fff;
                                    
                                }
                            }
                            &.active{
                                a,span{
                                    color: #fff;
                                    &:after{
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.main-baner{
    position: relative;
    padding-top: 160px;
    
    .for-z-index{
        position: relative;
        z-index: 10;
        .iframe-wr{
            margin-bottom: 30px;
            .iframe{
                display: block;
                border: none;
                width: 100%;
                height: 250px;
                cursor: pointer;
                background-image: url(../img/imagemovie.jpg);
                background-position: center;
                background-size: cover;
                position: relative;
                .abs-play{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 65px;
                    height: 65px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    transition: 0.3s;
                    transform: translate(-50%,-50%);
                    background: rgba(255,255,255,0.7);
                    box-shadow: 0 0 10px 5px rgba(0,0,0,0.15);
                }
                svg{
                    position: relative;
                    left: 2px;
                }
                polygon{
                    transition: 0.3s;
                }
                &:hover{
                    .abs-play{
                        background: #fff;
                        
                    }
                    polygon{
                        fill: #0570c3;
                    }
                }
            }
        }
    }
    .desc-main-baner{
        h2{
            font-size: 36px;
            color: #fff;
            font-weight: normal;
            font-family: "FiraSans-Bold";
            margin-bottom: 30px;
            margin-top: -7px;
        }
        ul{
            list-style: none;
            margin: 0;
            li{
                font-size: 18px;
                color: #25a9df;
                position: relative;
                margin-bottom: 14px;
                padding-left: 20px;
                
                &:before{
                    content: "";
                    display: block;
                    position: absolute;
                    top: 10px;
                    left: 0;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background: #25a9df;
                }
            }
        }
    }
    .flex-counter{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .text-start{
            margin: 0;
            font-size: 24px;
            font-family: "FiraSans-Bold";
            color: #fff;
            line-height: 30px;
        }
        .main-counter-wr{
            display: flex;
            color: #25a9df;
            font-size: 30px;
            width: 277px;
            align-items: center;
            position: relative;
            top: -12px;
            .counter-velue{
                line-height: 33px;
                color: #fff;
                font-size: 44px;
                display: block;
                position: relative;
                top: 2px;
                padding: 0 10px;
                &:last-child{
                    padding-right: 0;
                    .desc{
                        left: calc(50% + 3px);
                    }
                }
                .desc{
                    display: block;
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    color: #25a9df;
                    transform: translateX(-50%);
                    font-size: 14px;
                }
                .d,.h,.m,.s{
                    letter-spacing: 2px;
                }
            }
        }
    }
    .flex-buttons{
        display: flex;
        .button-style{
            &:first-child{
              margin-right: 20px;  
            }
            
        }
    }
}
.form-and-soc{
    background: #fff;
    position: relative;
    padding: 45px 50px;
    transform: translateY(50%);
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.15);
    .flex-form-soc{
        position: relative;
        display: flex;
        &.opened{
            .left-side{
                width: 100%;
                .abs-socials{
                    .one-soc{
                        margin-right: 43px;
                    }
                }
                .plus-wr{
                    .plus{
                        &:before{
                             transform: translate(-50%, -50%) rotate(45deg);
                        }
                        &:after{
                           transform: translate(-50%, -50%) rotate(45deg);  
                        }
                       
                    }
                }
            }
            .right-side{
                width: 0;
                padding-left: 0;
            }
        }
        .left-side{
            width: 36.5%;
            overflow: hidden;
            position: relative;
            display: flex;
            transition: 0.4s;
            justify-content: flex-end;
            .abs-socials{
                position: absolute;
                width: 1145px;
                height: 100%;
                top: 0;
                left: 0;
                display: flex;
                transition: 0.3s;
                align-items: center;
                .one-soc{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 56px;
                    height: 56px;
                    background-color: #25a9df;
                    border-radius: 6px;
                    margin-right: 25px;
                    cursor: pointer;
                   
                    transition: 0.3s;
                    &:hover{
                        background-color: #0570c3;
                    }
                }
            }
            .plus-wr{
                background: #fff;
                height: 100%;
                position: relative;
                z-index: 5;
                display: flex;
                align-items: center;
                .plus{
                    width: 56px;
                    height: 56px;
                    border: 2px solid #dddddd;
                    border-radius: 6px;
                    position: relative;
                    transition: 0.3s;
                    cursor: pointer;
                    background-color: #dddddd;
                    &:hover{
                        background-color: #dddddd;
                        &:before{
                            background: #fff;
                        }
                        &:after{
                            background: #fff;
                        }
                    }
                    &:before{
                        content: "";
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        width: 4px;
                        height: 22px;
                        background: #25a9df;
                        transition: 0.3s;
                        transform-origin: center;
                    }
                     &:after{
                        content: "";
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        width: 22px;
                        height: 4px;
                        background: #25a9df;
                         transition: 0.3s;
                        transform-origin: center;
                    }
                }  
            }
        }
        .right-side{
            height: 65px;
            position: relative;
            width: 63.5%;
          
            display: flex;
            overflow: hidden;
            transition: 0.4s;
            align-items: center;
            justify-content: space-between;
            .abs{
                  padding-left: 57px;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 660px;
            }
            input{
                display: block;
                width: 100%;
                max-width: 345px;
                border: none;
                outline: none;
                padding:14px 0;
                transition: 0.3s;
                font-size: 18px;
                border-bottom: 2px solid #dddddd;
                color: #0d264e;
                &:focus{
                    border-color: #25a9df;
                }
            }
            .button-style-2{
                padding: 18px 0;
            }
            input::-webkit-input-placeholder{
                color: #888888;
            }
            input::-moz-placeholder{
                color: #888888;
            }
            input:-moz-placeholder{
                color: #888888;
            }
            input:-ms-input-placeholder{
                color: #888888;
            }
        }
    }
}
button{
    outline: none;
}
.for-flex-center-link{
     display: flex;
        justify-content: center;
    div{
        width: 230px;
    }
}
.sec-lvl-2{
    padding: 75px 0;
    background-color: #f2f5fa;
    h1,h2,h3,h4,h5,h6{
        font-size: 36px;
        text-align: center;
        color: #0d264e;
        font-family: "FiraSans-Bold";
        margin-bottom: 36px;
    }
    p{
        font-size: 20px;
        text-align: center;
        color: #888888;
        margin-bottom: 65px;
    }
}
#particles-js,#particles-js-2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.second-form{
    padding-bottom: 80px;
}

.sec-slider-realiz{
    background: #f2f5fa;
    padding: 85px 0;
    overflow: hidden;
    &.conf-sec{
        background: #0d264e;
        h4{
            color: #fff;
        }
        .slider-realiz-init{
            .one-slide{
                .date{
                    color: #66b3ff;
                    &:before{
                        background: #0d264e;
                    }
                    &:after{
                        border-color: #ffffff;
                    }
                }
                .desc{
                    color: #fff;
                    background: #004996;
                }
                &:last-child{
                       &:after{
                       
                        background: #0d264e;
                      
                    }
                }
            }
            .slick-arrow{
                &:before{
                    opacity: 1;
                }
            }
        }
    }
    h4{
        font-size: 36px;
        font-weight: normal;
        color: #0d264e;
        font-family: "FiraSans-Bold";
        margin-bottom: 80px;
        text-align: center;
    }
    .for-padd-slider{
      
    }
    .slider-realiz-init{
        display: flex;
        flex-wrap: wrap;
        .one-slide{
            width: 25%;
            outline: none;
            padding: 0 15px;
            margin-bottom: 40px;
            position: relative;
            &:before{
                content: "";
                display: block;
                position: absolute;
                top: 69px;
                left: 50%;
                height: 2px;
                background: #25a9df;
                width: 5000px;
            }
            &:nth-child(4n+1){
                &:after{
                    content: "";
                    display: block;
                    position: absolute;
                    top: 69px;
                    right: 50%;
                    height: 2px;
                    background: #25a9df;
                    width: 5000px;
                }
            }
            &:first-child{
                &:after{
                    display: none!important;
                }
            }
            &:last-child{
               
               
                &:after{
                    content: "";
                    display: block;
                    position: absolute;
                    top: 69px;
                    height: 3px;
                    left: calc(50% + 12px);
                    background: #f2f5fa;
                    z-index: 10;
                    width: 5000px;
                }
                .desc{
                    &:before{
                        content: "";
                        display: block;
                        position: absolute;
                        top: -34px;
                        right: calc(50% + 12px);
                        height: 2px;
                        background: #25a9df;
                    width: 5000px;
                    }
                }
            }
            &:nth-child(4n+1){
                &:after{
                    
                }
            }
            .date{
                position: relative;
                z-index: 10;
                padding-bottom: 60px;
                text-align: center;
                font-size: 13px;
                font-weight: bold;
                color: #0d264e;
                text-transform: uppercase;
                &:before{
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 29px;
                    height: 29px;
                    background: #f2f5fa;
                }
                &:after{
                     content: "";
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 19px;
                    height: 19px;
                    border: 5px solid #25a9df;
                    border-radius: 50%;
                }
            }
            .desc{
                background: #fff;
                padding: 15px;
                box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.10);
                text-align: center;
                font-size: 16px;
                color: #0d264e;
                position: relative;
            }
        }
        .slick-arrow{
            display: block;
            position: absolute;
            top: 69px;
            transform: translateY(-50%);
            font-weight: normal;
            border: none;
            background-color: transparent;
            border: 2px solid #25a9df;
            border-radius: 50%;
            width: 56px;
            height: 56px;
            background-repeat: no-repeat;
            background-position: center;
            font-size: 0;
            transition: 0.3s;
            &:hover{
                background-color: #25a9df;
                &:before{
                    opacity: 1;
                }
            }
            &:before{
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 18px;
                height: 10px;
                opacity: 0;
            }
            &.slick-prev{
                right: calc(100% + 5px);
                background-image: url(../img/arr-left.png);
                &:before{
                    background-image: url(../img/arr-left-w.png);
                }
            }
            &.slick-next{
                left: calc(100% + 5px);
                background-image: url(../img/arr-right.png);
                &:before{
                    background-image: url(../img/arr-right-w.png);
                }
            }
        }
    }
}

.main-baner .flex-counter .main-counter-wr .counter-velue .d, .main-baner .flex-counter .main-counter-wr .counter-velue .h, .main-baner .flex-counter .main-counter-wr .counter-velue .m, .main-baner .flex-counter .main-counter-wr .counter-velue .s{
    width: 47px;
    display: block;
}
#myChart{
    
}
.diagram{
    background: #0d264e;
    padding: 85px 0 70px 0;
    .dia-head{
        text-align: center;
        h4{
            color: #fff;
            font-size: 36px;
            font-weight: normal;
            font-family: "FiraSans-Bold";
            margin-bottom: 35px;
        }
        p{
            font-size: 20px;
            color: #25a9df;
            margin-bottom: 60px;
        }
    }
    .list-pr{
        list-style: none;
        margin: 0;
        li{
            position: relative;
            padding-left: 40px;
            font-size: 14px;
            color: #25a9df;
            margin-bottom: 20px;
            &:before{
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 20px;
                height: 20px;
            }
            &.color-1{
                &:before{
                    background: #e91d62;
                }
            }
            &.color-2{
                &:before{
                    background: #2095f2;
                }
            }
            &.color-3{
                &:before{
                    background: #00bcd5;
                }
            }
            &.color-4{
                &:before{
                    background: #9c28b1;
                }
            }
            &.color-5{
                &:before{
                    background: #019587;
                }
            }
            &.color-6{
                &:before{
                    background: #3e50b4;
                }
            }
            &.color-7{
                &:before{
                    background: #4baf4f;
                }
            }
        }
    }
    .style-text-diag{
        p{
            color: #25a9df;
            font-size: 16px;
        }
    }
}

.modal{
    background: rgba(0,0,0,0.7);
    
    .modal-dialog{
        width: 100%;
        max-width: 990px;
        margin: 40px auto;
        iframe{
            border: none;
            display: block;
            width: 100%;
                height: 528px;
            
        }
    }
     
}
#myChart{
    width: 300px;
    .canvas-pos{
        position: relative; height:300px; width:300px;
    }
}
.for-button-pos{
    padding-top: 19px;
}
#solution .img{
    height: 400px;
    position: relative;
    background-image: url(../img/gif.gif);
    background-size: 125%;
    background-position: center;
}
#news .news_item .read{
    transition: 0.3s;
    &:hover{
        color: #004996;
        border-color: #004996;
    }
}
.main-baner .for-z-index .iframe-wr{
    margin-bottom: 40px;
}

#man .man_text .soc a{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    border-radius: 6px;
    width: 52px;
    height: 52px;
    &:hover{
        background-color: #0570c3;
    }
}
#faqs .faq .question:after{
    top: 17px;
}

#solution{
    background: #fcfcff;
    padding-top: 145px;
}
.flex-icons-human{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px; 
    a{
        width: 45px;
        height: 45px;
        display: block;
        margin: 5px;
        border-radius: #25a9df;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #25a9df;
        transition: 0.3s;
        border-radius: 4px;
        img{
            max-width: 25px;
        }
        &:hover{
            background: #0570c3;
        }
    }
}
#news #all_news{
    color: #fff;
    background: #dddddd;
    color: #0d264e;
    &:hover{
        background:#c0c0c0;
        color: #0d264e;
    }
}
#faqs #all_faq{
    color: #0d264e;
    background: #dddddd;
    &:hover{
        background: #c0c0c0;
        color: #0d264e;
    }
}
.sec-lvl-1 .header-nav.scrolled .flex-menu .side.right-side .flex-lang .login{
    background-color: #dddddd;
    color: #0d264e;
    &:hover{
        background-color: #c0c0c0;
        color: #0d264e;
    }
}
.form-and-soc .flex-form-soc .right-side input{
    border-radius: 0;
}
.main-baner .flex-buttons{
    padding-top: 5px;
}
#news .news_item .read{
    &:after{
        background: url(../img/icons/arr-right-blue.svg) no-repeat center;
        transition: 0.3s;
    }
    &:before{
    opacity: 0;
        position: absolute;
    content: '';
    width: 18px;
    height: 10px;
    display: block;
    background: url(../img/icons/arr-right-w-b.svg) no-repeat center;
    right: -30px;
        z-index: 5;
    top: 5px;
        transition: 0.3s;
    }
    &:hover{
        &:before{
            opacity: 1;
        }
        &:after{
            opacity: 0;
        }
    }
}
.new-baner-blue{
    background: linear-gradient(90deg, #00cdfe, #00529d);
    p{
        margin: 0;
        text-align: center;
        text-transform: uppercase;
        font-family: "FiraSans-Bold";
        color: #fff;
        font-size: 24px;
        padding: 19px 0;
    }
}
#solution h2{
    margin-bottom: 70px;
}
.people .human_wrap .desc .text{
    font-size: 12px;
}
.people .human_wrap .desc{
    padding: 20px 5px;
}